.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  color: white;
  overflow: hidden;
  padding: 130px 0px 40px 0px;
  z-index: 1;
  @include tablet {
    padding-top: 110px;
  }
  &__container {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    object-position: top right;
    z-index: -1;
    @include laptop-min {
      filter: brightness(70%);
    }
  }
  &__adv-slider {
    padding-top: 30px;
    margin-top: auto;
    .swiper-wrapper {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 20px;
      @include laptop {
        display: flex;
        gap: 0px;
      }
    }
  }
  &__adv-slide {
    grid-column: 1 span;
    box-sizing: border-box;
  }
  &__adv-slider {
    width: 100%;
    @include laptop {
      overflow: visible !important;
    }
  }
  &__adv-slide {
    display: flex !important;
    align-items: center;
    gap: 25px;
    padding: 30px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(7.5px);
    box-sizing: border-box;
    font-size: 18px;
    @include laptop {
      width: 340px !important;
    }
    @include tablet {
      width: 320px !important; 
      padding: 20px;
    }
  }
  &__adv-icon {
    width: 50px;
  }
}
