.s-archive {
  @include laptop {
    overflow: hidden;
  }
  &__body {
    display: flex;
    align-items: start;
    gap: 50px;
    @include laptop {
      flex-wrap: wrap;
      gap: 30px;
    }
  }
  &__aside {
    position: sticky;
    top: 100px;
    width: 395px;
    flex-shrink: 0;
    @include desktop-min {
      width: 310px;
    }
    @include laptop {
      width: 100%;
      position: static;
      top: 0;
    }
  }
  &__nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    @include laptop {
      flex-direction: row;
    }
  }
  &__nav-btn {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: var(--alabaster);
    border-radius: 8px;

    font-size: 18px;
    font-weight: 300;
    padding: 20px;
    color: black;

    transition:
      color 0.2s ease,
      background-color 0.2s ease;

    @include hover {
      color: white;
      background-color: var(--green);
    }
    &._active {
      color: white;
      background-color: var(--green);
    }
    @include laptop {
      white-space: nowrap;
      flex-shrink: 0;
    }

    svg {
      width: 30px;
      height: 30px;
    }
  }
  &__stocks {
    padding: 16px;
    border-radius: 16px;
    border: 2px solid var(--alabaster);
    margin-top: 50px;
    @include laptop {
      max-width: 395px;
      margin: 30px auto 0px auto;
    }
  }
  &__stocks-head {
    @include flex-between;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 16px;
  }
  &__stocks-title {
    font-size: 28px;
    font-weight: 500;
    margin: 0;
  }
  &__stocks-nav {
    display: flex;
    gap: 20px;

    .slider-btn {
      width: 40px;
      height: 40px;

      svg {
        width: 14px;
        height: 14px;
      }
    }
  }
  &__stock-slider {
    width: 100%;
    aspect-ratio: 1/1;
  }
  &__stock-slide {
    border-radius: 8px;
    overflow: hidden;
  }
  &__stock-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__aside-footer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
    @include laptop {
      margin: 30px auto 0px auto;
      max-width: 500px;
    }
  }
  &__footer-item {
    width: 100%;
    padding: 16px;
    border-radius: 16px;
    border: 2px solid var(--alabaster);
    @include desktop-min {
      padding: 12px;
    }
  }
  &__footer-btn {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 20px;
    border-radius: 8px;
    background: linear-gradient(84deg, #40c1ac 0%, #8aecaf 100%);
    
    color: white;
    font-size: 24px;
    @include desktop-min {
      font-size: 20px
    }

    span {
      flex: 1;
    }
  }
  &__decisions {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
    @include laptop {
      gap: 20px;
    }
  }
  &__more-btn {
    width: 100%;
    margin-top: 50px;
    @include tablet {
      margin-top: 30px;
    }
  }
}