.s-archive {
  &__body {
    display: flex;
    gap: 50px;
  }
  &__aside {
    width: 395px;
    flex-shrink: 0;
  }
  &__nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__nav-btn {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: var(--alabaster);
    border-radius: 8px;

    font-size: 18px;
    font-weight: 300;
    padding: 20px;
    color: black;

    transition:
      color 0.2s ease,
      background-color 0.2s ease;

    @include hover {
      color: white;
      background-color: var(--green);
    }
    &._active {
      color: white;
      background-color: var(--green);
    }

    svg {
      width: 30px;
      height: 30px;
    }
  }
  &__stocks {
    padding: 16px;
    border-radius: 16px;
    border: 2px solid var(--alabaster);
    margin-top: 50px;
  }
  &__stocks-head {
    @include flex-between;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 16px;
  }
  &__stocks-title {
    font-size: 28px;
    font-weight: 500;
    margin: 0;
  }
  &__stocks-nav {
    display: flex;
    gap: 20px;

    .slider-btn {
      width: 40px;
      height: 40px;

      svg {
        width: 14px;
        height: 14px;
      }
    }
  }
  &__stock-slider {
    width: 100%;
    aspect-ratio: 1/1;
  }
  &__stock-slide {
    border-radius: 8px;
    overflow: hidden;
  }
  &__stock-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__aside-footer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
  }
  &__footer-item {
    width: 100%;
    padding: 16px;
    border-radius: 16px;
    border: 2px solid var(--alabaster);
  }
  &__footer-btn {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 20px;
    border-radius: 8px;
    background: linear-gradient(84deg, #40c1ac 0%, #8aecaf 100%);
    
    color: white;
    font-size: 24px;

    span {
      flex: 1;
    }
  }
}
