.s-catalog-head {
  &__programs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  &__program {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    gap: 30px;
    min-height: 250px;
    border-radius: 8px;
    background: linear-gradient(90deg, #a4f1c1 0%, #40c1ac 100%);
    padding: 20px;
    z-index: 1;
    @include laptop {
      grid-column: 2 span;
    }
    @include tablet-min {
      &::before {
        position: absolute;
        content: "";
        inset: 0;
        background-color: black;
        opacity: 0.5;
        z-index: -1;
      }
    }

    &:nth-child(2) {
      .s-catalog-head__program-img {
        bottom: auto;
        top: 32px;
        right: -75px;
        @include desktop-min {
          right: -225px;
        }
        @include laptop {
          top: 32px;
          right: -75px;
        }
        @include tablet {
          right: -335px;
        }
        @include tablet-min {
          right: 0;
        }
      }
    }
  }
  &__program-info {
    max-width: 400px;
    @include tablet-min {
      color: white;
    }
  }
  &__program-title {
    font-size: 24px;
    font-weight: 400;
    margin: 0px 0px 16px 0px;
  }
  &__program-content {
    font-size: 18px;
    font-weight: 300;
    margin: 0;
  }
  &__program-img {
    position: absolute;
    right: 20px;
    bottom: 15px;
    z-index: -2;
    @include desktop-min {
      right: -55px;
      bottom: -65px;
    }
    @include laptop {
      right: 20px;
      bottom: 15px;
    }
    @include tablet {
      right: -140px;
      bottom: -60px;
    }
    @include tablet-min {
      // opacity: 0.5;
    }
  }
}
