:root {
  --yellow: #ecec42;
  --yellow-hover: #c9c936;

  --gray: #5f5f5f;
  --light-gray: #f9f9f9;
  --silver: #a7a7a7;
  --light: #e6e6e6;
  --concrete: #f3f3f3;
  --concrete-dark: #999;
  --alabaster: #f7f7f7;

  --green: #40c1ac;
}
