<section
  class="intro"
>
  <picture class="intro__bg">
    <source srcset="@img/intro-news-mob.jpg" media="(max-width: 768px)">
    <img src="@img/intro-news.jpg" alt="image">
  </picture>
  <div class="container intro__container">
    <div class="intro__head">
      <div class="breadcrumbs">
        <div class="aioseo-breadcrumbs">
          <span class="aioseo-breadcrumb">
            <a href="/" title="Главная">Главная</a>
          </span>
          <span class="aioseo-breadcrumb"> Новости </span>
        </div>
      </div>
      <h1 class="main-title">Новости</h1>
    </div>
    <div class="swiper intro__adv-slider">
      <div class="swiper-wrapper">
        <a href="#" class="swiper-slide intro__adv-slide">
          <svg class="intro__adv-arrow">
            <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
          </svg>
          <img src="@img/gift.svg" alt="icon" class="intro__adv-icon" />
          <span>Продукция</span>
        </a>
        <a href="#" class="swiper-slide intro__adv-slide">
          <svg class="intro__adv-arrow">
            <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
          </svg>
          <img src="@img/gift.svg" alt="icon" class="intro__adv-icon" />
          <span>Акции</span>
        </a>
        <a href="#" class="swiper-slide intro__adv-slide">
          <svg class="intro__adv-arrow">
            <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
          </svg>
          <img src="@img/gift.svg" alt="icon" class="intro__adv-icon" />
          <span>Где купить</span>
        </a>
        <a href="#" class="swiper-slide intro__adv-slide">
          <svg class="intro__adv-arrow">
            <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
          </svg>
          <img src="@img/gift.svg" alt="icon" class="intro__adv-icon" />
          <span>Решение проблем</span>
        </a>
        <a href="#" class="swiper-slide intro__adv-slide">
          <svg class="intro__adv-arrow">
            <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
          </svg>
          <img src="@img/gift.svg" alt="icon" class="intro__adv-icon" />
          <span>Академия Трихологии</span>
        </a>
      </div>
    </div>
  </div>
</section>
