<section class="products sect-p">
  <div class="container">
    <h2 class="sect-title">Наша продукция</h2>
    <ul class="list products__nav">
      <li class="products__nav-btn _active">
        Натуральная косметика Ecotriatria ETA
      </li>
      <li class="products__nav-btn">
        Профессиональная косметика Ecotriatria Professional Balance
      </li>
      <li class="products__nav-btn">Наборы</li>
      <li class="products__nav-btn">Фитосборы</li>
    </ul>
    <div class="products__wrapper">
      <div class="swiper products__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide product-card">
            <a href="#" class="product-card__gallery">
              <img
                src="@img/product.jpg"
                alt="image"
                class="product-card__img"
              />
            </a>
            <a href="#" class="product-card__title"
              >Сыворотка для укрепления волос Ecotriatria
              professional Balance</a
            >
            <div class="product-card__price">
              <div></div>
              <span>2 720 ₽</span>
              <div></div>
            </div>
            <form action="#" class="product-card__form">
              <div class="product-card__form-number">
                <div class="product-card__btn-num _minus">-</div>
                <input
                  type="number"
                  value="1"
                  class="product-card__form-input"
                />
                <div class="product-card__btn-num _plus">+</div>
              </div>
              <button class="btn-stroke product-card__form-btn">
                В корзину
              </button>
            </form>
            <a href="#" class="product-card__pay">
              <img src="@img/dolyame.svg" alt="icon" />
              Долями по 680 ₽
            </a>
          </div>
          <div class="swiper-slide product-card">
            <a href="#" class="product-card__gallery">
              <img
                src="@img/product-2.jpg"
                alt="image"
                class="product-card__img"
              />
            </a>
            <a href="#" class="product-card__title"
              >Tormesis №2 «АНТИ-ДГТ БЬЮТИ F ANTI-DHT BEAUTY F»</a
            >
            <div class="product-card__price">
              <div></div>
              <span>2 720 ₽</span>
              <div></div>
            </div>
            <form action="#" class="product-card__form">
              <div class="product-card__form-number">
                <div class="product-card__btn-num _minus">-</div>
                <input
                  type="number"
                  value="1"
                  class="product-card__form-input"
                />
                <div class="product-card__btn-num _plus">+</div>
              </div>
              <button class="btn-stroke product-card__form-btn">
                В корзину
              </button>
            </form>
            <a href="#" class="product-card__pay">
              <img src="@img/dolyame.svg" alt="icon" />
              Долями по 680 ₽
            </a>
          </div>
          <div class="swiper-slide product-card">
            <a href="#" class="product-card__gallery">
              <img
                src="@img/product.jpg"
                alt="image"
                class="product-card__img"
              />
            </a>
            <a href="#" class="product-card__title"
              >Тоник для кожи головы постпроцедурный ECOTRIATRIA PROFESSIONAL 90
              мл</a
            >
            <div class="product-card__price">
              <div></div>
              <span>2 720 ₽</span>
              <div></div>
            </div>
            <form action="#" class="product-card__form">
              <div class="product-card__form-number">
                <div class="product-card__btn-num _minus">-</div>
                <input
                  type="number"
                  value="1"
                  class="product-card__form-input"
                />
                <div class="product-card__btn-num _plus">+</div>
              </div>
              <button class="btn-stroke product-card__form-btn">
                В корзину
              </button>
            </form>
            <a href="#" class="product-card__pay">
              <img src="@img/dolyame.svg" alt="icon" />
              Долями по 680 ₽
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
