<section class="sect-p s-about-product">
  <div class="container tab-container">
    <img src="@img/flower-bottom.png" alt="image" class="s-about-product__flower">
    <h2 class="sect-title">О продукте</h2>
    <div class="s-about-product__nav" id="about-product-nav">
      <button
        class="btn-reset s-about-product__nav-btn _active"
        data-tab-btn="1"
      >
        Описание
      </button>
      <button class="btn-reset s-about-product__nav-btn" data-tab-btn="2">
        Способ применения
      </button>
      <button class="btn-reset s-about-product__nav-btn" data-tab-btn="3">
        Состав
      </button>
    </div>
    <div data-tab="1" class="_open">
      <div class="s-about-product__body">
        <div data-more class="s-about-product__content-wrapper">
          <div class="s-about-product__content _hidden">
            <p>
              Сбор рекомендован при различных проблемах с волосами, в том числе
              при наличии диффузного или гнездного, очагового выпадения волос, и
              при выпадении волос по мужскому и женскому типу. <br />
              <br />

              Травы, входящие в состав сбора, обладают противовоспалительным,
              общеукрепляющим, иммуномодулирующим, детоксикационным,
              антимикробным, стимулирующим рост волос действием.
              <br />
              <br />
              Чаще всего состояние волос ухудшается при наличии воспалительных
              процессов на уровне кожи головы и волосяных фолликулов. В связи с
              этим в сборе присутствуют травы, известные своими
              иммуномодулирующими и противовоспалительными свойствами, такие как
              солодка, лабазник, лопух, крапива, цетрария. Лопух, солодка и
              цетрария также обеспечивают антибактериальный и противогрибковый
              эффекты, необходимые для устранения себореи и перхоти, и других
              воспалительных процессов.
              <br />
              <br />
              Комплексное воздействие сбора обусловлено синергетическим эффектом
              входящих в состав фитосбора трав, обладающих
              противовоспалительным, общеукрепляющим, иммуномодулирующим,
              детоксикационным, антимикробным, стимулирующим рост волос
              эффектами.
            </p>
            <p>
              Сбор рекомендован при различных проблемах с волосами, в том числе
              при наличии диффузного или гнездного, очагового выпадения волос, и
              при выпадении волос по мужскому и женскому типу. <br />
              <br />

              Травы, входящие в состав сбора, обладают противовоспалительным,
              общеукрепляющим, иммуномодулирующим, детоксикационным,
              антимикробным, стимулирующим рост волос действием.
              <br />
              <br />
              Чаще всего состояние волос ухудшается при наличии воспалительных
              процессов на уровне кожи головы и волосяных фолликулов. В связи с
              этим в сборе присутствуют травы, известные своими
              иммуномодулирующими и противовоспалительными свойствами, такие как
              солодка, лабазник, лопух, крапива, цетрария. Лопух, солодка и
              цетрария также обеспечивают антибактериальный и противогрибковый
              эффекты, необходимые для устранения себореи и перхоти, и других
              воспалительных процессов.
              <br />
              <br />
              Комплексное воздействие сбора обусловлено синергетическим эффектом
              входящих в состав фитосбора трав, обладающих
              противовоспалительным, общеукрепляющим, иммуномодулирующим,
              детоксикационным, антимикробным, стимулирующим рост волос
              эффектами.
            </p>
          </div>
          <button data-more-btn class="btn-reset s-about-product__btn-more">
            <span>Читать подробнее</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
        <a
          data-fancybox
          href="//github.com/mediaelement/mediaelement-files/blob/master/big_buck_bunny.mp4?raw=true"
          class="s-about-product__video"
          style="
            background: url(&quot;@img/about-product-preview.jpg&quot;) center /
              cover no-repeat;
          "
        >
          <div class="video-btn">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-play"></use>
            </svg>
          </div>
        </a>
      </div>
    </div>
    <div data-tab="2">
      <div class="s-about-product__body">
        <div data-more class="s-about-product__content-wrapper">
          <div class="s-about-product__content _hidden">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Temporibus, aspernatur excepturi. Magnam nihil nobis dolorum
              maiores sit ut, rerum quia ab mollitia officiis ipsam, animi
              facere alias incidunt corrupti dignissimos. Lorem ipsum dolor sit
              amet consectetur adipisicing elit. Nesciunt quod, asperiores, eum,
              facere quis laudantium porro aliquid recusandae consequatur
              voluptatum doloribus. Itaque excepturi fugiat aliquid quaerat
              sapiente, earum natus quae.
            </p>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Perspiciatis nobis in cupiditate ullam a optio expedita, ratione
              commodi aspernatur obcaecati amet mollitia deserunt, iure iusto
              provident voluptas impedit aliquam ut?
            </p>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Perspiciatis nobis in cupiditate ullam a optio expedita, ratione
              commodi aspernatur obcaecati amet mollitia deserunt, iure iusto
              provident voluptas impedit aliquam ut?
            </p>
          </div>
          <button data-more-btn class="btn-reset s-about-product__btn-more">
            <span>Читать подробнее</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
        <a
          data-fancybox
          href="//github.com/mediaelement/mediaelement-files/blob/master/big_buck_bunny.mp4?raw=true"
          class="s-about-product__video"
          style="
            background: url(&quot;@img/about-product-preview.jpg&quot;) center /
              cover no-repeat;
          "
        >
          <div class="video-btn">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-play"></use>
            </svg>
          </div>
        </a>
      </div>
    </div>
    <div data-tab="3">
      <div class="s-about-product__body">
        <div data-more class="s-about-product__content-wrapper">
          <div class="s-about-product__content _hidden">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Temporibus, aspernatur excepturi. Magnam nihil nobis dolorum
              maiores sit ut, rerum quia ab mollitia officiis ipsam, animi
              facere alias incidunt corrupti dignissimos. Lorem ipsum dolor sit
              amet consectetur adipisicing elit. Nesciunt quod, asperiores, eum,
              facere quis laudantium porro aliquid recusandae consequatur
              voluptatum doloribus. Itaque excepturi fugiat aliquid quaerat
              sapiente, earum natus quae.
            </p>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Perspiciatis nobis in cupiditate ullam a optio expedita, ratione
              commodi aspernatur obcaecati amet mollitia deserunt, iure iusto
              provident voluptas impedit aliquam ut?
            </p>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Perspiciatis nobis in cupiditate ullam a optio expedita, ratione
              commodi aspernatur obcaecati amet mollitia deserunt, iure iusto
              provident voluptas impedit aliquam ut?
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Temporibus, aspernatur excepturi. Magnam nihil nobis dolorum
              maiores sit ut, rerum quia ab mollitia officiis ipsam, animi
              facere alias incidunt corrupti dignissimos. Lorem ipsum dolor sit
              amet consectetur adipisicing elit. Nesciunt quod, asperiores, eum,
              facere quis laudantium porro aliquid recusandae consequatur
              voluptatum doloribus. Itaque excepturi fugiat aliquid quaerat
              sapiente, earum natus quae.
            </p>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Perspiciatis nobis in cupiditate ullam a optio expedita, ratione
              commodi aspernatur obcaecati amet mollitia deserunt, iure iusto
              provident voluptas impedit aliquam ut?
            </p>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Perspiciatis nobis in cupiditate ullam a optio expedita, ratione
              commodi aspernatur obcaecati amet mollitia deserunt, iure iusto
              provident voluptas impedit aliquam ut?
            </p>
          </div>
          <button data-more-btn class="btn-reset s-about-product__btn-more">
            <span>Читать подробнее</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
