<section class="s-about sect-p">
  <img src="@img/logo-big.svg" alt="image" class="s-about__logo" />
  <div class="container">
    <div class="s-about__head">
      <h2 class="sect-title">
        ECOTRIATRIA и TORMESIS — натуральная продукция для кожи головы и волос
      </h2>
      <a href="#" class="btn-stroke">подробнее о нас</a>
    </div>
    <div class="s-about__wrapper">
      <div class="s-about__item">
        <div class="s-about__item-gallery">
          <img src="@img/about.jpg" alt="image" class="s-about__item-img" />
        </div>
        <div class="s-about__item-body">
          <p>
            Авторы брендов – врачи-эксперты, дерматологи - трихологи - <a
              href="#"
              >В.П.Ткачев</a
            >, к.м.н., и <a href="#">Н.Г. Барунова</a> основатели Академии
            ТрихоЭйджинга и Биомедицины
          </p>
          <button class="btn-reset s-about__item-more">Показать ещё</button>
        </div>
      </div>
      <div class="s-about__item">
        <div class="s-about__item-gallery">
          <img src="@img/about.jpg" alt="image" class="s-about__item-img" />
        </div>
        <div class="s-about__item-body">
          <p>
            <a href="#">Блог экспертов</a> Академии ТрихоЭйджинга и Биомедицины
            (Акуфитос) полезен специалистам - трихологам, парикмахерам,
            эстетистам, врачам всех специальностей, а также всем тем, кто
            интересуется проблемами волос и способами их восстановления.
          </p>
          <button class="btn-reset s-about__item-more">Показать ещё</button>
        </div>
      </div>
      <div class="s-about__item _reverse">
        <div class="s-about__item-gallery">
          <img src="@img/about.jpg" alt="image" class="s-about__item-img" />
        </div>
        <div class="s-about__item-body">
          <p>
            Если Вы - специалист в области трихологии или хотите им стать,
            рекомендуем семинары партнёров компании ФИТОЛУКС -
            <a href="#">Академии</a> ТрихоЭйджинга и Биомедицины. Семинары и
            мастер-классы Академии дадут вам не только знания теоретических
            аспектов диагностики и восстановления волос, но и необходимые
            практические навыки.
          </p>
          <p>
            Вы получите возможность эффективно работать с <a href="#"
              >профессиональной продукцией</a
            > для кожи головы и волос Ecotriatria Professional), созданной
            профессионалами своего дела - врачами дерматологами - трихологами,
            химиками - технологами, экспертами с большим опытом работы.
          </p>
          <button class="btn-reset s-about__item-more">Показать ещё</button>
        </div>
      </div>
      <div class="s-about__item _reverse">
        <div class="s-about__item-gallery">
          <img src="@img/about.jpg" alt="image" class="s-about__item-img" />
        </div>
        <div class="s-about__item-body">
          <p>
            Если Вы ищете способ решения проблем волос и кожи головы – наши
            консультанты помогут Вам подобрать средства зеленой линии <a
              href="#"
              >Ecotriatria ETA</a
            > и
            <a href="#"
              >профессиональной косметики Ecotriatria professional Balance</a
            > для домашнего применения, и фитосборы <a href="#">Tormesis</a>, в
            зависимости от состояния кожи и волос, и характера проблемы.
          </p>
          <button class="btn-reset s-about__item-more">Показать ещё</button>
        </div>
      </div>
    </div>
    <div class="swiper s-about__adv-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide s-about__adv-slide">
          <div class="s-about__adv-title">50+ лет</div>
          <p class="s-about__adv-contetn">
            Суммарный опыт работы в медицине наших экспертов
          </p>
        </div>
        <div class="swiper-slide s-about__adv-slide">
          <div class="s-about__adv-title">15 000 +</div>
          <p class="s-about__adv-contetn">Обучившихся специалистов</p>
        </div>
        <div class="swiper-slide s-about__adv-slide">
          <div class="s-about__adv-title">500 +</div>
          <p class="s-about__adv-contetn">
            Докладов и выступлений на международных и российских конференциях и
            конгрессах
          </p>
        </div>
        <div class="swiper-slide s-about__adv-slide">
          <div class="s-about__adv-title">25 000 +</div>
          <p class="s-about__adv-contetn">Довольных пациентов</p>
        </div>
      </div>
    </div>
  </div>
</section>
