<section class="s-adv">
  <div class="container s-adv__container">
    <div class="s-adv__item">
      <div class="s-adv__item-head">
        <h5 class="s-adv__item-title">
          Натуральная профессиональная трихологическая продукция
        </h5>
        <img src="@img/branch.svg" alt="icon" class="s-adv__item-icon" />
      </div>
      <p class="s-adv__item-content">
        На основе натуральных растительных ингредиентов
      </p>
    </div>
    <div class="s-adv__item">
      <div class="s-adv__item-head">
        <h5 class="s-adv__item-title">Создано специалистами</h5>
        <img src="@img/branch.svg" alt="icon" class="s-adv__item-icon" />
      </div>
      <p class="s-adv__item-content">
        Врачами дерматологами-трихологами и химиками-технологами с большим
        опытом работы
      </p>
    </div>
    <div class="s-adv__item">
      <div class="s-adv__item-head">
        <h5 class="s-adv__item-title">Эффективность подтверждена наградами</h5>
        <img src="@img/branch.svg" alt="icon" class="s-adv__item-icon" />
      </div>
      <p class="s-adv__item-content">
        Премиями Моя косметика 2023 и Моя косметика 2024
      </p>
    </div>
    <div class="s-adv__item">
      <div class="s-adv__item-head">
        <h5 class="s-adv__item-title">
          Эффективность проверена клиническими исследованиями
        </h5>
        <img src="@img/branch.svg" alt="icon" class="s-adv__item-icon" />
      </div>
      <p class="s-adv__item-content">
        Текст преимущества текст преимущества текст преимущества текст
        преимущества
      </p>
    </div>
    <div class="s-adv__item">
      <div class="s-adv__item-head">
        <h5 class="s-adv__item-title">
          Заголовок преимущества заголовок преимущества
        </h5>
        <img src="@img/branch.svg" alt="icon" class="s-adv__item-icon" />
      </div>
      <p class="s-adv__item-content">
        Текст преимущества текст преимущества текст преимущества текст
        преимущества
      </p>
    </div>
    <div class="s-adv__item">
      <div class="s-adv__item-head">
        <h5 class="s-adv__item-title">Заголовок преимущества</h5>
        <img src="@img/branch.svg" alt="icon" class="s-adv__item-icon" />
      </div>
      <p class="s-adv__item-content">
        Текст преимущества текст преимущества текст преимущества текст
        преимущества
      </p>
    </div>
  </div>
</section>
