<section class="sect-p s-auth">
  <div class="container">
    <div class="breadcrumbs">
      <div class="aioseo-breadcrumbs">
        <span class="aioseo-breadcrumb">
          <a href="/" title="Главная">Главная</a>
        </span>
        <span class="aioseo-breadcrumb"> Личный кабинет </span>
      </div>
    </div>
    <h1 class="main-title">Личный кабинет</h1>
    <div class="s-auth__body">
      <h3 class="s-auth__title">Авторизация</h3>
      <form action="#" class="s-auth__form">
        <div class="s-auth__form-item">
          <input
            type="text"
            placeholder="Имя пользователя или email"
            class="input _white"
          />
        </div>
        <div class="s-auth__form-item">
          <div class="password-btn">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-eye"></use>
            </svg>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-eye-off"></use>
            </svg>
          </div>
          <input type="password" placeholder="Пароль" class="input _white" />
        </div>
        <input checked type="checkbox" id="remember" class="input-check" />
        <label for="remember" class="label-check">Запомнить меня</label>
        <button class="button _outline">Войти</button>
        <a href="#" class="s-auth__forgot">Забыли пароль?</a>
      </form>
      <div class="s-auth__footer">
        <p class="s-auth__footer-content">Еще нет аккаунта?</p>
        <button
          data-fancybox
          data-src="#modal-reg"
          class="btn-reset s-auth__footer-btn"
        >
          Зарегистрируйтесь
        </button>
      </div>
    </div>
  </div>
</section>
