<section class="sect-m s-before-after">
  <div class="container">
    <h2 class="sect-title">Результаты до и после</h2>
    <div class="s-before-after__body">
      <div class="s-before-after__wrapper">
        <div class="s-before-after__item">
          <p class="s-before-after__item-content">
            До применения – разрежение срединного пробора, выпадение волос *
          </p>
          <div class="s-before-after__item-gallery">
            <div class="s-before-after__item-tag">До</div>
            <img
              src="@img/before.jpg"
              alt="image"
              class="s-before-after__item-img"
            />
          </div>
        </div>
        <div class="s-before-after__item">
          <p class="s-before-after__item-content">
            Через 4 мес применения сыворотки – улучшение роста и густоты волос
            ECOTRIATRIA Professional BALANCE *
          </p>
          <div class="s-before-after__item-gallery">
            <div class="s-before-after__item-tag">После</div>
            <img
              src="@img/after.jpg"
              alt="image"
              class="s-before-after__item-img"
            />
          </div>
        </div>
      </div>
      <p class="s-before-after__bottom-content">
        *Фотографии проблемной области (срединного пробора)
      </p>
    </div>
  </div>
</section>
