<section class="s-blog sect-p">
  <div class="container">
    <div class="s-head">
      <h2 class="sect-title">Блог экспертов</h2>
      <div class="s-head__slider-nav">
        <button class="slider-btn _prev">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
        </button>
        <button class="slider-btn _next">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="swiper s-blog__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide s-blog__slide">
          <a
            href="//github.com/mediaelement/mediaelement-files/blob/master/big_buck_bunny.mp4?raw=true"
            data-fancybox
            class="s-blog__slide-gallery"
          >
            <div class="s-blog__play-btn"></div>
            <img
              src="@img/blog-card.jpg"
              alt="image"
              class="s-blog__slide-img"
            />
          </a>
          <div class="s-blog__slide-date">23.03.2023</div>
          <a href="#" class="s-blog__slide-title"
            >Антиандрогены из растений – польза или хайп?</a
          >
          <a href="#" class="s-blog__slide-btn">Читать</a>
        </div>
        <div class="swiper-slide s-blog__slide">
          <div class="s-blog__slide-gallery">
            <img
              src="@img/blog-card.jpg"
              alt="image"
              class="s-blog__slide-img"
            />
          </div>
          <div class="s-blog__slide-date">23.03.2023</div>
          <a href="#" class="s-blog__slide-title"
            >Антиандрогены из растений – польза или хайп?</a
          >
          <a href="#" class="s-blog__slide-btn">Читать</a>
        </div>
        <div class="swiper-slide s-blog__slide">
          <a
            href="//github.com/mediaelement/mediaelement-files/blob/master/big_buck_bunny.mp4?raw=true"
            data-fancybox
            class="s-blog__slide-gallery"
          >
            <div class="s-blog__play-btn"></div>
            <img
              src="@img/blog-card.jpg"
              alt="image"
              class="s-blog__slide-img"
            />
          </a>
          <div class="s-blog__slide-date">23.03.2023</div>
          <a href="#" class="s-blog__slide-title"
            >Антиандрогены из растений – польза или хайп?</a
          >
          <a href="#" class="s-blog__slide-btn">Читать</a>
        </div>
        <div class="swiper-slide s-blog__slide">
          <div class="s-blog__slide-gallery">
            <img
              src="@img/blog-card.jpg"
              alt="image"
              class="s-blog__slide-img"
            />
          </div>
          <div class="s-blog__slide-date">23.03.2023</div>
          <a href="#" class="s-blog__slide-title"
            >Антиандрогены из растений – польза или хайп?</a
          >
          <a href="#" class="s-blog__slide-btn">Читать</a>
        </div>
        <div class="swiper-slide s-blog__slide">
          <a
            href="//github.com/mediaelement/mediaelement-files/blob/master/big_buck_bunny.mp4?raw=true"
            data-fancybox
            class="s-blog__slide-gallery"
          >
            <div class="s-blog__play-btn"></div>
            <img
              src="@img/blog-card.jpg"
              alt="image"
              class="s-blog__slide-img"
            />
          </a>
          <div class="s-blog__slide-date">23.03.2023</div>
          <a href="#" class="s-blog__slide-title"
            >Антиандрогены из растений – польза или хайп?</a
          >
          <a href="#" class="s-blog__slide-btn">Читать</a>
        </div>
        <div class="swiper-slide s-blog__slide">
          <div class="s-blog__slide-gallery">
            <img
              src="@img/blog-card.jpg"
              alt="image"
              class="s-blog__slide-img"
            />
          </div>
          <div class="s-blog__slide-date">23.03.2023</div>
          <a href="#" class="s-blog__slide-title"
            >Антиандрогены из растений – польза или хайп?</a
          >
          <a href="#" class="s-blog__slide-btn">Читать</a>
        </div>
        <div class="swiper-slide s-blog__slide">
          <a
            href="//github.com/mediaelement/mediaelement-files/blob/master/big_buck_bunny.mp4?raw=true"
            data-fancybox
            class="s-blog__slide-gallery"
          >
            <div class="s-blog__play-btn"></div>
            <img
              src="@img/blog-card.jpg"
              alt="image"
              class="s-blog__slide-img"
            />
          </a>
          <div class="s-blog__slide-date">23.03.2023</div>
          <a href="#" class="s-blog__slide-title"
            >Антиандрогены из растений – польза или хайп?</a
          >
          <a href="#" class="s-blog__slide-btn">Читать</a>
        </div>
        <div class="swiper-slide s-blog__slide">
          <div class="s-blog__slide-gallery">
            <img
              src="@img/blog-card.jpg"
              alt="image"
              class="s-blog__slide-img"
            />
          </div>
          <div class="s-blog__slide-date">23.03.2023</div>
          <a href="#" class="s-blog__slide-title"
            >Антиандрогены из растений – польза или хайп?</a
          >
          <a href="#" class="s-blog__slide-btn">Читать</a>
        </div>
      </div>
    </div>
    <div class="slider-scrollbar"></div>
  </div>
</section>
