<section class="sect-p sect-bottom-off s-catalog-head">
  <div class="container">
    <div class="warn">
      <img src="@img/warn-opacity.svg" alt="icon" class="warn__icon" />
      <span
        >Официальный представитель брендов ECOTRIATRIA и TORMESIS на
        маркетплейсах – магазин ETASFERA. <br />
        Мы не несём ответственности за продукцию, которую вы приобретаете
        на маркетплейсах у других продавцов.</span
      >
      <button class="btn-reset warn__delete">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-close"></use>
        </svg>
      </button>
    </div>
    <div class="s-catalog-head__programs">
      <div class="s-catalog-head__program">
        <a href="#" class="tag">
          <div class="tag__circle">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
            </svg>
          </div>
          <span>Выбрать</span>
        </a>
        <div class="s-catalog-head__program-info">
          <h5 class="s-catalog-head__program-title">Индивидуальный набор</h5>
          <p class="s-catalog-head__program-content">
            Выберите средства разных наименований и оформите заказ
            индивидуального ухода со скидкой!
          </p>
        </div>
        <img src="@img/set.png" alt="image" class="s-catalog-head__program-img">
      </div>
      <div class="s-catalog-head__program">
        <a href="#" class="tag">
          <div class="tag__circle">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
            </svg>
          </div>
          <span>Подобрать</span>
        </a>
        <div class="s-catalog-head__program-info">
          <h5 class="s-catalog-head__program-title">Компьютерный подбор</h5>
          <p class="s-catalog-head__program-content">
            Пройдите небольшой тест и узнайте, какие продукты подходят именно
            вам
          </p>
        </div>
        <img src="@img/quiz.png" alt="image" class="s-catalog-head__program-img">
      </div>
    </div>
  </div>
</section>
