<section class="s-archive sect-p">
  <div class="container s-archive__container">
    <div class="s-archive__body">
      <aside class="s-archive__aside">
        <div data-spollers class="s-archive__filters">
          <div class="s-archive__filter">
            <div data-spoller class="s-archive__filter-btn _spoller-active">
              <span>Цена, ₽</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
              </svg>
            </div>
            <div>
              <div class="s-archive__filter-body">
                <div
                  class="berocket_single_filter_widget berocket_single_filter_widget_283"
                  data-id="283"
                >
                  <div
                    class="bapf_sfilter bapf_slidr bapf_slidr_jqrui bapf_slidr_ready"
                    data-op="slidr"
                    data-taxonomy="price"
                    id="bapf_1"
                  >
                    <div class="bapf_body">
                      <div class="bapf_slidr_all">
                        <span class="bapf_from"
                          ><span class="bapf_tbprice">$</span
                          ><input type="text" placeholder="от" /></span
                        ><span class="bapf_to"
                          ><span class="bapf_tbprice">$</span
                          ><input type="text" placeholder="до"
                        /></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="s-archive__filter">
            <div data-spoller class="s-archive__filter-btn _spoller-active">
              <span>Бренд</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
              </svg>
            </div>
            <div>
              <div class="s-archive__filter-body">
                <div
                  class="berocket_single_filter_widget berocket_single_filter_widget_282"
                  data-id="282"
                >
                  <div
                    class="bapf_sfilter bapf_ckbox"
                    data-op="OR"
                    data-taxonomy="pa_load_capacity"
                    id="bapf_3"
                  >
                    <div class="bapf_body">
                      <ul>
                        <li>
                          <input id="brand-1" type="checkbox" /><label
                            for="brand-1"
                            >Бренд 1</label
                          >
                        </li>
                        <li>
                          <input id="brand-2" type="checkbox" /><label
                            for="brand-2"
                            >Бренд 2</label
                          >
                        </li>
                        <li>
                          <input id="brand-3" type="checkbox" /><label
                            for="brand-3"
                            >Бренд 3</label
                          >
                        </li>
                        <li>
                          <input id="brand-4" type="checkbox" /><label
                            for="brand-4"
                            >Бренд 4</label
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="s-archive__filter">
            <div data-spoller class="s-archive__filter-btn _spoller-active">
              <span>Тип продукции</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
              </svg>
            </div>
            <div>
              <div class="s-archive__filter-body">
                <div
                  class="berocket_single_filter_widget berocket_single_filter_widget_282"
                  data-id="282"
                >
                  <div
                    class="bapf_sfilter bapf_ckbox"
                    data-op="OR"
                    data-taxonomy="pa_load_capacity"
                    id="bapf_3"
                  >
                    <div class="bapf_body">
                      <ul>
                        <li>
                          <input id="type-1" type="checkbox" /><label
                            for="type-1"
                            >Натуральная косметика Ecotriatria ETA</label
                          >
                        </li>
                        <li>
                          <input id="type-2" type="checkbox" /><label
                            for="type-2"
                            >Профессиональная косметика Ecotriatria Professional
                            Balance</label
                          >
                        </li>
                        <li>
                          <input id="type-3" type="checkbox" /><label
                            for="type-3"
                            >Наборы Ecotriatria и Tormesis</label
                          >
                        </li>
                        <li>
                          <input id="type-4" type="checkbox" /><label
                            for="type-4"
                            >Фитосборы Tormesis</label
                          >
                        </li>
                        <li>
                          <input id="type-5" type="checkbox" /><label
                            for="type-5"
                            >Коллаген Tormesis Premium</label
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div data-da=".s-archive__container, 1365" class="s-archive__stocks">
          <div class="s-archive__stocks-head">
            <h4 class="s-archive__stocks-title">Акции</h4>
            <div class="s-archive__stocks-nav">
              <button class="slider-btn _prev">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
                </svg>
              </button>
              <button class="slider-btn _next">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="swiper s-archive__stock-slider">
            <div class="swiper-wrapper">
              <a href="#" class="swiper-slide s-archive__stock-slide">
                <img
                  src="@img/stock-img.jpg"
                  alt="image"
                  class="s-archive__stock-img"
                />
              </a>
              <a href="#" class="swiper-slide s-archive__stock-slide">
                <img
                  src="@img/stock-img.jpg"
                  alt="image"
                  class="s-archive__stock-img"
                />
              </a>
              <a href="#" class="swiper-slide s-archive__stock-slide">
                <img
                  src="@img/stock-img.jpg"
                  alt="image"
                  class="s-archive__stock-img"
                />
              </a>
            </div>
          </div>
        </div>
        <div
          data-da=".s-archive__container, 1365"
          class="s-archive__aside-footer"
        >
          <div class="s-archive__footer-item">
            <a href="#" target="_blank" class="s-archive__footer-btn">
              <span>Где нас найти</span>
              <img src="@img/location.svg" alt="icon" />
            </a>
          </div>
          <div class="s-archive__footer-item">
            <a
              href="#"
              target="_blank"
              class="s-archive__footer-btn"
              id="btn-bookmark"
            >
              <span>Добавить сайт в закладки</span>
              <img src="@img/bookmark.svg" alt="icon" />
            </a>
          </div>
        </div>
      </aside>
      <div class="s-archive__main">
        <div class="s-catalog">
          <div class="s-catalog__head">
            <select class="s-catalog__select">
              <option value="Сначала дешевые" selected>Сначала дешевые</option>
              <option value="Сначала дорогие">Сначала дорогие</option>
              <option value="Сначала популярные">Сначала популярные</option>
            </select>
          </div>
          <div class="s-catalog__wrapper">
            <div class="product-card">
              <a href="#" class="product-card__gallery">
                <img
                  src="@img/product.jpg"
                  alt="image"
                  class="product-card__img"
                />
              </a>
              <a href="#" class="product-card__title"
                >Сыворотка для укрепления волос Ecotriatria
                professional Balance</a
              >
              <div class="product-card__price">
                <div></div>
                <span>2 720 ₽</span>
                <div></div>
              </div>
              <form action="#" class="product-card__form">
                <div class="product-card__form-number">
                  <div class="product-card__btn-num _minus">-</div>
                  <input
                    type="number"
                    value="1"
                    class="product-card__form-input"
                  />
                  <div class="product-card__btn-num _plus">+</div>
                </div>
                <button class="btn-stroke product-card__form-btn">
                  В корзину
                </button>
              </form>
              <a href="#" class="product-card__pay">
                <img src="@img/dolyame.svg" alt="icon" />
                Долями по 680 ₽
              </a>
            </div>
            <div class="product-card">
              <a href="#" class="product-card__gallery">
                <img
                  src="@img/product-2.jpg"
                  alt="image"
                  class="product-card__img"
                />
              </a>
              <a href="#" class="product-card__title"
                >Tormesis №2 «АНТИ-ДГТ БЬЮТИ F ANTI-DHT BEAUTY F»</a
              >
              <div class="product-card__price">
                <div></div>
                <span>2 720 ₽</span>
                <div></div>
              </div>
              <form action="#" class="product-card__form">
                <div class="product-card__form-number">
                  <div class="product-card__btn-num _minus">-</div>
                  <input
                    type="number"
                    value="1"
                    class="product-card__form-input"
                  />
                  <div class="product-card__btn-num _plus">+</div>
                </div>
                <button class="btn-stroke product-card__form-btn">
                  В корзину
                </button>
              </form>
              <a href="#" class="product-card__pay">
                <img src="@img/dolyame.svg" alt="icon" />
                Долями по 680 ₽
              </a>
            </div>
            <div class="product-card">
              <a href="#" class="product-card__gallery">
                <img
                  src="@img/product.jpg"
                  alt="image"
                  class="product-card__img"
                />
              </a>
              <a href="#" class="product-card__title"
                >Сыворотка для укрепления волос Ecotriatria
                professional Balance</a
              >
              <div class="product-card__price">
                <div></div>
                <span>2 720 ₽</span>
                <div></div>
              </div>
              <form action="#" class="product-card__form">
                <div class="product-card__form-number">
                  <div class="product-card__btn-num _minus">-</div>
                  <input
                    type="number"
                    value="1"
                    class="product-card__form-input"
                  />
                  <div class="product-card__btn-num _plus">+</div>
                </div>
                <button class="btn-stroke product-card__form-btn">
                  В корзину
                </button>
              </form>
              <a href="#" class="product-card__pay">
                <img src="@img/dolyame.svg" alt="icon" />
                Долями по 680 ₽
              </a>
            </div>
            <div class="product-card">
              <a href="#" class="product-card__gallery">
                <img
                  src="@img/product.jpg"
                  alt="image"
                  class="product-card__img"
                />
              </a>
              <a href="#" class="product-card__title"
                >Сыворотка для укрепления волос Ecotriatria
                professional Balance</a
              >
              <div class="product-card__price">
                <div></div>
                <span>2 720 ₽</span>
                <div></div>
              </div>
              <form action="#" class="product-card__form">
                <div class="product-card__form-number">
                  <div class="product-card__btn-num _minus">-</div>
                  <input
                    type="number"
                    value="1"
                    class="product-card__form-input"
                  />
                  <div class="product-card__btn-num _plus">+</div>
                </div>
                <button class="btn-stroke product-card__form-btn">
                  В корзину
                </button>
              </form>
              <a href="#" class="product-card__pay">
                <img src="@img/dolyame.svg" alt="icon" />
                Долями по 680 ₽
              </a>
            </div>
            <div class="product-card">
              <a href="#" class="product-card__gallery">
                <img
                  src="@img/product-2.jpg"
                  alt="image"
                  class="product-card__img"
                />
              </a>
              <a href="#" class="product-card__title"
                >Tormesis №2 «АНТИ-ДГТ БЬЮТИ F ANTI-DHT BEAUTY F»</a
              >
              <div class="product-card__price">
                <div></div>
                <span>2 720 ₽</span>
                <div></div>
              </div>
              <form action="#" class="product-card__form">
                <div class="product-card__form-number">
                  <div class="product-card__btn-num _minus">-</div>
                  <input
                    type="number"
                    value="1"
                    class="product-card__form-input"
                  />
                  <div class="product-card__btn-num _plus">+</div>
                </div>
                <button class="btn-stroke product-card__form-btn">
                  В корзину
                </button>
              </form>
              <a href="#" class="product-card__pay">
                <img src="@img/dolyame.svg" alt="icon" />
                Долями по 680 ₽
              </a>
            </div>
            <div class="product-card">
              <a href="#" class="product-card__gallery">
                <img
                  src="@img/product.jpg"
                  alt="image"
                  class="product-card__img"
                />
              </a>
              <a href="#" class="product-card__title"
                >Сыворотка для укрепления волос Ecotriatria
                professional Balance</a
              >
              <div class="product-card__price">
                <div></div>
                <span>2 720 ₽</span>
                <div></div>
              </div>
              <form action="#" class="product-card__form">
                <div class="product-card__form-number">
                  <div class="product-card__btn-num _minus">-</div>
                  <input
                    type="number"
                    value="1"
                    class="product-card__form-input"
                  />
                  <div class="product-card__btn-num _plus">+</div>
                </div>
                <button class="btn-stroke product-card__form-btn">
                  В корзину
                </button>
              </form>
              <a href="#" class="product-card__pay">
                <img src="@img/dolyame.svg" alt="icon" />
                Долями по 680 ₽
              </a>
            </div>
            <div class="product-card">
              <a href="#" class="product-card__gallery">
                <img
                  src="@img/product.jpg"
                  alt="image"
                  class="product-card__img"
                />
              </a>
              <a href="#" class="product-card__title"
                >Сыворотка для укрепления волос Ecotriatria
                professional Balance</a
              >
              <div class="product-card__price">
                <div></div>
                <span>2 720 ₽</span>
                <div></div>
              </div>
              <form action="#" class="product-card__form">
                <div class="product-card__form-number">
                  <div class="product-card__btn-num _minus">-</div>
                  <input
                    type="number"
                    value="1"
                    class="product-card__form-input"
                  />
                  <div class="product-card__btn-num _plus">+</div>
                </div>
                <button class="btn-stroke product-card__form-btn">
                  В корзину
                </button>
              </form>
              <a href="#" class="product-card__pay">
                <img src="@img/dolyame.svg" alt="icon" />
                Долями по 680 ₽
              </a>
            </div>
            <div class="product-card">
              <a href="#" class="product-card__gallery">
                <img
                  src="@img/product-2.jpg"
                  alt="image"
                  class="product-card__img"
                />
              </a>
              <a href="#" class="product-card__title"
                >Tormesis №2 «АНТИ-ДГТ БЬЮТИ F ANTI-DHT BEAUTY F»</a
              >
              <div class="product-card__price">
                <div></div>
                <span>2 720 ₽</span>
                <div></div>
              </div>
              <form action="#" class="product-card__form">
                <div class="product-card__form-number">
                  <div class="product-card__btn-num _minus">-</div>
                  <input
                    type="number"
                    value="1"
                    class="product-card__form-input"
                  />
                  <div class="product-card__btn-num _plus">+</div>
                </div>
                <button class="btn-stroke product-card__form-btn">
                  В корзину
                </button>
              </form>
              <a href="#" class="product-card__pay">
                <img src="@img/dolyame.svg" alt="icon" />
                Долями по 680 ₽
              </a>
            </div>
            <div class="product-card">
              <a href="#" class="product-card__gallery">
                <img
                  src="@img/product.jpg"
                  alt="image"
                  class="product-card__img"
                />
              </a>
              <a href="#" class="product-card__title"
                >Сыворотка для укрепления волос Ecotriatria
                professional Balance</a
              >
              <div class="product-card__price">
                <div></div>
                <span>2 720 ₽</span>
                <div></div>
              </div>
              <form action="#" class="product-card__form">
                <div class="product-card__form-number">
                  <div class="product-card__btn-num _minus">-</div>
                  <input
                    type="number"
                    value="1"
                    class="product-card__form-input"
                  />
                  <div class="product-card__btn-num _plus">+</div>
                </div>
                <button class="btn-stroke product-card__form-btn">
                  В корзину
                </button>
              </form>
              <a href="#" class="product-card__pay">
                <img src="@img/dolyame.svg" alt="icon" />
                Долями по 680 ₽
              </a>
            </div>
          </div>
        </div>
        <button class="button s-archive__more-btn _gray">показать еще</button>
      </div>
    </div>
  </div>
</section>
