<section class="sect-p s-contacts-main">
  <div class="container s-contacts-main__container">
    <div class="s-contacts-main__info">
      <a href="tel:+79809763186" class="s-contacts-main__tel"
        >+7 (980) 976-31-86</a
      >
      <div class="s-contacts-main__info-item">
        <div class="s-contacts-main__info-title">E-mail</div>
        <div class="s-contacts-main__item-wrapper">
          <div class="s-contacts-main__mail">
            <span>Интернет-магазин: </span>
            <a href="mailto:order@fitolooks.com">order@fitolooks.com</a>
          </div>
          <div class="s-contacts-main__mail">
            <span>Оптовые закупки, обучение: </span>
            <a href="mailto:order@fitolooks.com">b2b@fitolooks.com</a>
          </div>
        </div>
      </div>
      <div class="s-contacts-main__info-item">
        <div class="s-contacts-main__info-title">E-mail</div>
        <p class="s-contacts-main__info-content">
          420107,  г. Казань ул. Хади Такташа, д.1, цокольный этаж, офис N2,
          Fitolooks
        </p>
      </div>
      <div class="s-contacts-main__info-item">
        <div class="s-contacts-main__info-title">E-mail</div>
        <p class="s-contacts-main__info-content">
          Понедельник – пятница, с 09.00 до 18.00. <br />
          Выходные дни – суббота и воскресенье, праздничные дни.
        </p>
      </div>
      <ul class="list s-contacts-main__social">
        <li>
          <a href="#" target="_blank" class="s-contacts-main__social-btn">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-tg"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#" target="_blank" class="s-contacts-main__social-btn">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-wh"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#" target="_blank" class="s-contacts-main__social-btn">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-vk"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#" target="_blank" class="s-contacts-main__social-btn">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-dzen"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div
      class="s-contacts-main__map"
      data-center="[55.76697343554971,49.10053964042402]"
      data-zoom="16"
      id="map"
    ></div>
  </div>
</section>
