<section class="sect-p s-computer">
  <div class="container">
    <div class="s-computer__quiz">
      <div class="s-computer__quiz-main">
        <div class="s-computer__quiz-item" style="display: none;">
          <h5 class="s-computer__quiz-title">Отметьте ваш пол</h5>
          <div class="s-computer__choose">
            <input
              type="radio"
              id="gender-1"
              name="gender"
              checked
              class="s-computer__choose-input"
            />
            <label for="gender-1" class="s-computer__choose-label">
              <div class="s-computer__choose-circle"></div>
              <span>Мужской</span>
            </label>
            <input
              type="radio"
              id="gender-2"
              name="gender"
              class="s-computer__choose-input"
            />
            <label for="gender-2" class="s-computer__choose-label">
              <div class="s-computer__choose-circle"></div>
              <span>Женский</span>
            </label>
          </div>
        </div>
        <div class="s-computer__quiz-item" style="display: none;">
          <h5 class="s-computer__quiz-title">
            Беспокоит ли Вас выпадение волос?
          </h5>
          <div class="s-computer__choose">
            <input
              type="radio"
              id="anxiety-1"
              name="anxiety"
              checked
              class="s-computer__choose-input"
            />
            <label for="anxiety-1" class="s-computer__choose-label">
              <div class="s-computer__choose-circle"></div>
              <span>Беспокоит</span>
            </label>
            <input
              type="radio"
              id="anxiety-2"
              name="anxiety"
              class="s-computer__choose-input"
            />
            <label for="anxiety-2" class="s-computer__choose-label">
              <div class="s-computer__choose-circle"></div>
              <span>Периодически беспокоит</span>
            </label>
            <input
              type="radio"
              id="anxiety-3"
              name="anxiety"
              class="s-computer__choose-input"
            />
            <label for="anxiety-3" class="s-computer__choose-label">
              <div class="s-computer__choose-circle"></div>
              <span>Не беспокоит</span>
            </label>
          </div>
        </div>
        <div class="s-computer__quiz-item" style="display: block;">
          <h5 class="s-computer__quiz-title">
            Считаете ли Вы Вашу кожу головы:
          </h5>
          <div class="s-computer__choose">
            <input
              type="radio"
              id="head-1"
              name="head"
              checked
              class="s-computer__choose-input"
            />
            <label for="head-1" class="s-computer__choose-label">
              <div class="s-computer__choose-circle"></div>
              <span>Жирной</span>
            </label>
            <input
              type="radio"
              id="head-2"
              name="head"
              class="s-computer__choose-input"
            />
            <label for="head-2" class="s-computer__choose-label">
              <div class="s-computer__choose-circle"></div>
              <span>Нормальной</span>
            </label>
            <input
              type="radio"
              id="head-3"
              name="head"
              class="s-computer__choose-input"
            />
            <label for="head-3" class="s-computer__choose-label">
              <div class="s-computer__choose-circle"></div>
              <span>Сухой</span>
            </label>
            <input
              type="radio"
              id="head-4"
              name="head"
              class="s-computer__choose-input"
            />
            <label for="head-4" class="s-computer__choose-label">
              <div class="s-computer__choose-circle"></div>
              <span>Затрудняюсь ответить</span>
            </label>
          </div>
        </div>
        <div class="s-computer__quiz-item" style="display: none;">
          <h5 class="s-computer__quiz-title">
            Как часто Вам необходимо мыть голову?
          </h5>
          <div class="s-computer__choose">
            <input
              type="radio"
              id="interval-1"
              name="interval"
              checked
              class="s-computer__choose-input"
            />
            <label for="interval-1" class="s-computer__choose-label">
              <div class="s-computer__choose-circle"></div>
              <span>1-2 раза в неделю</span>
            </label>
            <input
              type="radio"
              id="interval-2"
              name="interval"
              class="s-computer__choose-input"
            />
            <label for="interval-2" class="s-computer__choose-label">
              <div class="s-computer__choose-circle"></div>
              <span>3 раза в неделю или чаще</span>
            </label>
          </div>
        </div>
        <div class="s-computer__quiz-footer">
          <button class="btn-stroke s-computer__quiz-next">Далее</button>
          <div class="s-computer__quiz-num">1 / 4</div>
        </div>
      </div>
      <div
        class="s-computer__quis-info"
        style="
          background: url(&quot;@img/logo-big.svg&quot;) center / 505px auto
            no-repeat;
        "
      >
        <div>
          <h4>Вы получите скидку на набор</h4>
          <p>
            в зависимости от количества средств: 2 средства - скидка 5%,
            3 средства - скидка 10%, 4 и более средств - скидка 15%.
          </p>
          <p>
            Ответьте на 4 простых вопроса и добавьте рекомендованные средства
            в корзину.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
