<section class="sect-p s-cooperation">
  <img src="@img/flower-bottom.png" alt="image" class="s-cooperation__flower">
  <div class="container s-cooperation__container">
    <div class="s-cooperation__mail">
      <p class="s-cooperation__mail-content">
        По вопросам сотрудничества, обучения и закупки продукции Ecotriatria и
        Tormesis напишите нам на почту или оставьте заявку:
      </p>
      <a href="mailto:b2b@fitolooks.com" class="s-cooperation__mail-btn">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-mail"></use>
        </svg>
        <span>b2b@fitolooks.com</span>
      </a>
    </div>
    <div action="#" class="s-cooperation__form-wrapper">
      <h3 class="s-cooperation__form-title">Оставить заявку</h3>
      <form class="s-cooperation__form">
        <div class="s-cooperation__form-block">
          <div class="s-cooperation__form-item">
            <input type="text" placeholder="Имя" class="input _white" />
          </div>
          <div class="s-cooperation__form-item">
            <input type="email" placeholder="E-mail" class="input _white" />
          </div>
          <div class="s-cooperation__form-item">
            <input
              type="tel"
              placeholder="Номер телефона"
              class="input _white"
            />
          </div>
        </div>
        <div class="s-cooperation__form-block">
          <div class="s-cooperation__form-item">
            <textarea placeholder="Сообщение" class="input _white"></textarea>
          </div>
          <button class="button">Отправить</button>
          <p class="s-cooperation__form-policy">
            Нажимая кнопку "Отправить", Вы даёте информированное согласие на
            обработку своих <a href="#">персональных данных</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</section>
