<section class="s-archive sect-p">
  <div class="container">
    <div class="s-archive__body">
      <aside class="s-archive__aside">
        <ul class="list s-archive__nav">
          <li>
            <a href="#" class="s-archive__nav-btn _active">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-decisions"></use>
              </svg>
              <span>Решение проблем</span>
            </a>
          </li>
          <li>
            <a href="#" class="s-archive__nav-btn">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-medal"></use>
              </svg>
              <span>Эксперты</span>
            </a>
          </li>
          <li>
            <a href="#" class="s-archive__nav-btn">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-book"></use>
              </svg>
              <span>Блог</span>
            </a>
          </li>
          <li>
            <a href="#" class="s-archive__nav-btn">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-list"></use>
              </svg>
              <span>Новости</span>
            </a>
          </li>
          <li>
            <a href="#" class="s-archive__nav-btn">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-question"></use>
              </svg>
              <span>Вопросы и ответы</span>
            </a>
          </li>
        </ul>
        <div class="s-archive__stocks">
          <div class="s-archive__stocks-head">
            <h4 class="s-archive__stocks-title">Акции</h4>
            <div class="s-archive__stocks-nav">
              <button class="slider-btn _prev">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
                </svg>
              </button>
              <button class="slider-btn _next">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="swiper s-archive__stock-slider">
            <div class="swiper-wrapper">
              <a href="#" class="swiper-slide s-archive__stock-slide">
                <img
                  src="@img/stock-img.jpg"
                  alt="image"
                  class="s-archive__stock-img"
                />
              </a>
              <a href="#" class="swiper-slide s-archive__stock-slide">
                <img
                  src="@img/stock-img.jpg"
                  alt="image"
                  class="s-archive__stock-img"
                />
              </a>
              <a href="#" class="swiper-slide s-archive__stock-slide">
                <img
                  src="@img/stock-img.jpg"
                  alt="image"
                  class="s-archive__stock-img"
                />
              </a>
            </div>
          </div>
        </div>
        <div class="s-archive__aside-footer">
          <div class="s-archive__footer-item">
            <a href="#" target="_blank" class="s-archive__footer-btn">
              <span>Где нас найти</span>
              <img src="@img/location.svg" alt="icon" />
            </a>
          </div>
          <div class="s-archive__footer-item">
            <a href="#" target="_blank" class="s-archive__footer-btn" id="btn-bookmark">
              <span>Добавить сайт в закладки</span>
              <img src="@img/bookmark.svg" alt="icon" />
            </a>
          </div>
        </div>
      </aside>
    </div>
  </div>
</section>
