<section class="s-archive sect-p">
  <div class="container s-archive__container">
    <div class="s-archive__body">
      <aside class="s-archive__aside">
        <ul class="list s-archive__nav" id="archive-nav">
          <li>
            <a href="#" class="s-archive__nav-btn _active">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-decisions"></use>
              </svg>
              <span>Решение проблем</span>
            </a>
          </li>
          <li>
            <a href="#" class="s-archive__nav-btn">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-medal"></use>
              </svg>
              <span>Эксперты</span>
            </a>
          </li>
          <li>
            <a href="#" class="s-archive__nav-btn">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-book"></use>
              </svg>
              <span>Блог</span>
            </a>
          </li>
          <li>
            <a href="#" class="s-archive__nav-btn">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-list"></use>
              </svg>
              <span>Новости</span>
            </a>
          </li>
          <li>
            <a href="#" class="s-archive__nav-btn">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-question"></use>
              </svg>
              <span>Вопросы и ответы</span>
            </a>
          </li>
        </ul>
        <div data-da=".s-archive__container, 1365" class="s-archive__stocks">
          <div class="s-archive__stocks-head">
            <h4 class="s-archive__stocks-title">Акции</h4>
            <div class="s-archive__stocks-nav">
              <button class="slider-btn _prev">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
                </svg>
              </button>
              <button class="slider-btn _next">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="swiper s-archive__stock-slider">
            <div class="swiper-wrapper">
              <a href="#" class="swiper-slide s-archive__stock-slide">
                <img
                  src="@img/stock-img.jpg"
                  alt="image"
                  class="s-archive__stock-img"
                />
              </a>
              <a href="#" class="swiper-slide s-archive__stock-slide">
                <img
                  src="@img/stock-img.jpg"
                  alt="image"
                  class="s-archive__stock-img"
                />
              </a>
              <a href="#" class="swiper-slide s-archive__stock-slide">
                <img
                  src="@img/stock-img.jpg"
                  alt="image"
                  class="s-archive__stock-img"
                />
              </a>
            </div>
          </div>
        </div>
        <div
          data-da=".s-archive__container, 1365"
          class="s-archive__aside-footer"
        >
          <div class="s-archive__footer-item">
            <a href="#" target="_blank" class="s-archive__footer-btn">
              <span>Где нас найти</span>
              <img src="@img/location.svg" alt="icon" />
            </a>
          </div>
          <div class="s-archive__footer-item">
            <a
              href="#"
              target="_blank"
              class="s-archive__footer-btn"
              id="btn-bookmark"
            >
              <span>Добавить сайт в закладки</span>
              <img src="@img/bookmark.svg" alt="icon" />
            </a>
          </div>
        </div>
      </aside>
      <div class="s-archive__main">
        <div class="s-archive__decisions">
          <article class="decision-card">
            <a href="#" class="decision-card__gallery">
              <img
                src="@img/decision-card.jpg"
                alt="image"
                class="decision-card__img"
              />
            </a>
            <div class="decision-card__body">
              <a href="#" class="decision-card__title">
                Что делать, если беспокоит жирная кожа головы, закупорка
                фолликулов и выпадение волос?
              </a>
              <a href="#" class="decision-card__btn btn-stroke"
                >Узнать больше</a
              >
            </div>
          </article>
          <article class="decision-card">
            <a href="#" class="decision-card__gallery">
              <img
                src="@img/decision-card.jpg"
                alt="image"
                class="decision-card__img"
              />
            </a>
            <div class="decision-card__body">
              <a href="#" class="decision-card__title">
                Как выбрать пилинг и очищение для жирной кожи головы?
              </a>
              <p class="decision-card__descr">
                Известно, что жирная, проблемная кожа головы встречается у
                женщин и мужчин, как правило, молодого возраста. Активность
                сальных желез зависит от гормональных факторов, от соотношения
                мужских и женских половых гормонов. И пока гормональная
                активность высока, сальные железы также работают в полную силу.
              </p>
              <a href="#" class="decision-card__btn btn-stroke"
                >Узнать больше</a
              >
            </div>
          </article>
          <article class="decision-card">
            <a href="#" class="decision-card__gallery">
              <img
                src="@img/decision-card.jpg"
                alt="image"
                class="decision-card__img"
              />
            </a>
            <div class="decision-card__body">
              <a href="#" class="decision-card__title">
                Что делать, если беспокоит жирная кожа головы, закупорка
                фолликулов и выпадение волос?
              </a>
              <a href="#" class="decision-card__btn btn-stroke"
                >Узнать больше</a
              >
            </div>
          </article>
          <article class="decision-card">
            <a href="#" class="decision-card__gallery">
              <img
                src="@img/decision-card.jpg"
                alt="image"
                class="decision-card__img"
              />
            </a>
            <div class="decision-card__body">
              <a href="#" class="decision-card__title">
                Что делать, если беспокоит жирная кожа головы, закупорка
                фолликулов и выпадение волос?
              </a>
              <a href="#" class="decision-card__btn btn-stroke"
                >Узнать больше</a
              >
            </div>
          </article>
          <article class="decision-card">
            <a href="#" class="decision-card__gallery">
              <img
                src="@img/decision-card.jpg"
                alt="image"
                class="decision-card__img"
              />
            </a>
            <div class="decision-card__body">
              <a href="#" class="decision-card__title">
                Как выбрать пилинг и очищение для жирной кожи головы?
              </a>
              <p class="decision-card__descr">
                Известно, что жирная, проблемная кожа головы встречается у
                женщин и мужчин, как правило, молодого возраста. Активность
                сальных желез зависит от гормональных факторов, от соотношения
                мужских и женских половых гормонов. И пока гормональная
                активность высока, сальные железы также работают в полную силу.
              </p>
              <a href="#" class="decision-card__btn btn-stroke"
                >Узнать больше</a
              >
            </div>
          </article>
          <article class="decision-card">
            <a href="#" class="decision-card__gallery">
              <img
                src="@img/decision-card.jpg"
                alt="image"
                class="decision-card__img"
              />
            </a>
            <div class="decision-card__body">
              <a href="#" class="decision-card__title">
                Что делать, если беспокоит жирная кожа головы, закупорка
                фолликулов и выпадение волос?
              </a>
              <a href="#" class="decision-card__btn btn-stroke"
                >Узнать больше</a
              >
            </div>
          </article>
          <article class="decision-card">
            <a href="#" class="decision-card__gallery">
              <img
                src="@img/decision-card.jpg"
                alt="image"
                class="decision-card__img"
              />
            </a>
            <div class="decision-card__body">
              <a href="#" class="decision-card__title">
                Что делать, если беспокоит жирная кожа головы, закупорка
                фолликулов и выпадение волос?
              </a>
              <a href="#" class="decision-card__btn btn-stroke"
                >Узнать больше</a
              >
            </div>
          </article>
          <article class="decision-card">
            <a href="#" class="decision-card__gallery">
              <img
                src="@img/decision-card.jpg"
                alt="image"
                class="decision-card__img"
              />
            </a>
            <div class="decision-card__body">
              <a href="#" class="decision-card__title">
                Как выбрать пилинг и очищение для жирной кожи головы?
              </a>
              <p class="decision-card__descr">
                Известно, что жирная, проблемная кожа головы встречается у
                женщин и мужчин, как правило, молодого возраста. Активность
                сальных желез зависит от гормональных факторов, от соотношения
                мужских и женских половых гормонов. И пока гормональная
                активность высока, сальные железы также работают в полную силу.
              </p>
              <a href="#" class="decision-card__btn btn-stroke"
                >Узнать больше</a
              >
            </div>
          </article>
          <article class="decision-card">
            <a href="#" class="decision-card__gallery">
              <img
                src="@img/decision-card.jpg"
                alt="image"
                class="decision-card__img"
              />
            </a>
            <div class="decision-card__body">
              <a href="#" class="decision-card__title">
                Что делать, если беспокоит жирная кожа головы, закупорка
                фолликулов и выпадение волос?
              </a>
              <a href="#" class="decision-card__btn btn-stroke"
                >Узнать больше</a
              >
            </div>
          </article>
        </div>
        <button class="button s-archive__more-btn _gray">показать еще</button>
      </div>
    </div>
  </div>
</section>
