<section class="s-archive sect-p">
  <div class="container s-archive__container">
    <div class="s-archive__body">
      <aside class="s-archive__aside">
        <ul class="list s-archive__nav" id="archive-nav">
          <li>
            <a href="#" class="s-archive__nav-btn">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-decisions"></use>
              </svg>
              <span>Решение проблем</span>
            </a>
          </li>
          <li>
            <a href="#" class="s-archive__nav-btn _active">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-medal"></use>
              </svg>
              <span>Эксперты</span>
            </a>
          </li>
          <li>
            <a href="#" class="s-archive__nav-btn">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-book"></use>
              </svg>
              <span>Блог</span>
            </a>
          </li>
          <li>
            <a href="#" class="s-archive__nav-btn">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-list"></use>
              </svg>
              <span>Новости</span>
            </a>
          </li>
          <li>
            <a href="#" class="s-archive__nav-btn">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-question"></use>
              </svg>
              <span>Вопросы и ответы</span>
            </a>
          </li>
        </ul>
        <div data-da=".s-archive__container, 1365" class="s-archive__stocks">
          <div class="s-archive__stocks-head">
            <h4 class="s-archive__stocks-title">Акции</h4>
            <div class="s-archive__stocks-nav">
              <button class="slider-btn _prev">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
                </svg>
              </button>
              <button class="slider-btn _next">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="swiper s-archive__stock-slider">
            <div class="swiper-wrapper">
              <a href="#" class="swiper-slide s-archive__stock-slide">
                <img
                  src="@img/stock-img.jpg"
                  alt="image"
                  class="s-archive__stock-img"
                />
              </a>
              <a href="#" class="swiper-slide s-archive__stock-slide">
                <img
                  src="@img/stock-img.jpg"
                  alt="image"
                  class="s-archive__stock-img"
                />
              </a>
              <a href="#" class="swiper-slide s-archive__stock-slide">
                <img
                  src="@img/stock-img.jpg"
                  alt="image"
                  class="s-archive__stock-img"
                />
              </a>
            </div>
          </div>
        </div>
        <div
          data-da=".s-archive__container, 1365"
          class="s-archive__aside-footer"
        >
          <div class="s-archive__footer-item">
            <a href="#" target="_blank" class="s-archive__footer-btn">
              <span>Где нас найти</span>
              <img src="@img/location.svg" alt="icon" />
            </a>
          </div>
          <div class="s-archive__footer-item">
            <a
              href="#"
              target="_blank"
              class="s-archive__footer-btn"
              id="btn-bookmark"
            >
              <span>Добавить сайт в закладки</span>
              <img src="@img/bookmark.svg" alt="icon" />
            </a>
          </div>
        </div>
      </aside>
      <div class="s-archive__main">
        <div class="s-archive__experts">
          <article class="expert-card">
            <a href="#" class="expert-card__gallery">
              <img
                src="@img/expert.jpg"
                alt="image"
                class="expert-card__gallery-img"
              />
            </a>
            <a href="#" class="expert-card__title"
              >Владислав Петрович Ткачев, г. Москва.</a
            >
            <div class="expert-card__body">
              <div class="expert-card__content">
                <h4>
                  Врач-эндокринолог, дерматолог – трихолог, к.м.н.
                </h4>
                <ul>
                  <li>
                    Доцент кафедры восстановительной медицины ИВМ РУДН.
                  </li>
                  <li>Стаж работы с 1993 г</li>
                  <li>
                    Основатель и эксперт Академии ТрихоЭйджинга и Биомедицины
                  </li>
                </ul>
              </div>
              <a href="#" class="btn-stroke expert-card__btn">Узнать больше</a>
            </div>
          </article>
          <article class="expert-card">
            <a href="#" class="expert-card__gallery">
              <img
                src="@img/expert.jpg"
                alt="image"
                class="expert-card__gallery-img"
              />
            </a>
            <a href="#" class="expert-card__title"
              >Наталья Григорьевна Барунова, г. Москва.</a
            >
            <div class="expert-card__body">
              <div class="expert-card__content">
                <h4>
                  Врач дерматолог - трихолог, диетолог - нутрициолог,
                  рефлексотерапевт..
                </h4>
                <ul>
                  <li>
                    Разработчик профессиональной диагностической программы для
                    трихологов TRIHOPROF
                  </li>
                  <li>Стаж работы с 1996 г</li>
                  <li>
                    Основатель и эксперт Академии ТрихоЭйджинга и Биомедицины
                  </li>
                </ul>
              </div>
              <a href="#" class="btn-stroke expert-card__btn">Узнать больше</a>
            </div>
          </article>
        </div>
        <button class="button s-archive__more-btn _gray">показать еще</button>
      </div>
    </div>
  </div>
</section>
