<section class="sect-m s-get-info">
  <div class="container">
    <div class="s-get-info__body">
      <div class="s-get-info__body-info">
        <h2 class="s-get-info__title">
          Получить информацию о профессиональной продукции
        </h2>
        <p class="s-get-info__content">
          По вопросам закупки профессиональной продукции ECOTRIATRIA — оставьте
          заявку
        </p>
      </div>
      <form action="#" class="s-get-info__form">
        <div class="s-get-info__form-item">
          <input type="text" placeholder="Имя" class="input" />
        </div>
        <div class="s-get-info__form-item">
          <input type="email" placeholder="E-mail" class="input" />
        </div>
        <div class="s-get-info__form-item">
          <input type="tel" placeholder="Номер телефона" class="input" />
        </div>
        <button class="button _white">Отправить</button>
        <p class="s-get-info__form-content">
          Нажимая кнопку "Отправить", Вы даёте информированное согласие на
          обработку своих <a href="#">персональных данных</a>
        </p>
      </form>
    </div>
    <div class="s-get-info__footer">
      <div class="s-get-info__footer-info">
        <div class="s-get-info__footer-content">
          <p>Продукция эффективна**:</p>
          <ul>
            <li>при зуде и шелушении;</li>
            <li>при наличии перхоти и себореи;</li>
            <li>при избыточной жирности и повышенной сухости кожи головы;</li>
            <li>при дискомфорте и стянутости кожи головы;</li>
            <li>при выпадении и истончении волоc;</li>
          </ul>
        </div>
        <p class="s-get-info__footer-subcontent">
          **На основании исследований активных ингредиентов средств
        </p>
      </div>
      <div class="s-get-info__footer-contacts">
        <p class="s-get-info__footer-contacts-content">
          Проводится бесплатное дистанционное обучение по применению продукции
          при закупке препаратов. Если у Вас есть вопросы, напишите нам или
          позвоните
        </p>
        <ul class="list s-get-info__footer-contacts-list">
          <li>
            <a
              href="mailto:b2b@fitolooks.com"
              class="s-get-info__footer-contacts-btn"
            >
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-mail"></use>
              </svg>
              <span>b2b@fitolooks.com</span>
            </a>
          </li>
          <li>
            <a href="tel:88002342360" class="s-get-info__footer-contacts-btn">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-tel"></use>
              </svg>
              <span>8 (800) 234-23-60</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
