<section class="sect-p s-profile">
  <div class="container">
    <div class="breadcrumbs">
      <div class="aioseo-breadcrumbs">
        <span class="aioseo-breadcrumb">
          <a href="/" title="Главная">Главная</a>
        </span>
        <span class="aioseo-breadcrumb"> Личный кабинет </span>
      </div>
    </div>
    <h1 class="main-title">Личный кабинет</h1>
    <div class="s-profile__wrapper">
      <aside class="s-profile__aside">
        <a href="#" class="s-profile__aside-btn">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-profile"></use>
          </svg>
          <span>Персональная информация</span>
        </a>
        <a href="#" class="s-profile__aside-btn _active">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-file"></use>
          </svg>
          <span>История заказов</span>
        </a>
        <a href="#" class="s-profile__aside-btn">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-prev"></use>
          </svg>
          <span>Выйти</span>
        </a>
      </aside>
      <div class="s-profile__main">
        <h3 class="t-title s-profile__title">История заказов</h3>
        <div data-spollers class="s-profile__orders">
          <div class="s-profile__spoller">
            <div data-spoller class="s-profile__spoller-head">
              <div class="s-profile__order-num">Заказ 15789623</div>
              <div class="s-profile__order-price">5 940 ₽</div>
              <div class="s-profile__order-status _success">
                <span>Выполнен</span>
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-check"></use>
                </svg>
              </div>
              <div class="s-profile__order-date">02.03.2025</div>
              <div class="s-profile__order-circle">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
                </svg>
              </div>
            </div>
            <div class="s-profile__spoller-body">
              <div class="order-card">
                <a href="#" class="order-card__gallery">
                  <img
                    src="@img/product.jpg"
                    alt="image"
                    class="order-card__img"
                  />
                </a>
                <a href="#" class="order-card__title"
                  >Tormesis №2 «АНТИ-ДГТ БЬЮТИ F ANTI-DHT BEAUTY F»</a
                >
                <div class="order-card__num">1 шт</div>
                <div class="order-card__price">2 720 ₽</div>
              </div>
              <div class="order-card">
                <a href="#" class="order-card__gallery">
                  <img
                    src="@img/product-2.jpg"
                    alt="image"
                    class="order-card__img"
                  />
                </a>
                <a href="#" class="order-card__title"
                  >Тоник для кожи головы постпроцедурный ECOTRIATRIA
                  PROFESSIONAL 90 мл</a
                >
                <div class="order-card__num">1 шт</div>
                <div class="order-card__price">2 720 ₽</div>
              </div>
              <div class="s-profile__spoller-footer">
                <div class="s-profile__calc">
                  <div class="s-profile__calc-item">
                    <span>Сумма</span>
                    <span>5 440 ₽</span>
                  </div>
                  <div class="s-profile__calc-item">
                    <span>Доставка</span>
                    <span>500 ₽</span>
                  </div>
                </div>
                <div class="s-profile__sum">
                  <span>К оплате</span>
                  <span>5 940 ₽</span>
                </div>
              </div>
            </div>
          </div>
          <div class="s-profile__spoller">
            <div data-spoller class="s-profile__spoller-head">
              <div class="s-profile__order-num">Заказ 15789623</div>
              <div class="s-profile__order-price">5 940 ₽</div>
              <div class="s-profile__order-status _cancel">
                <span>Отменен</span>
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-close"></use>
                </svg>
              </div>
              <div class="s-profile__order-date">02.03.2025</div>
              <div class="s-profile__order-circle">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
                </svg>
              </div>
            </div>
            <div class="s-profile__spoller-body">
              <div class="order-card">
                <a href="#" class="order-card__gallery">
                  <img
                    src="@img/product.jpg"
                    alt="image"
                    class="order-card__img"
                  />
                </a>
                <a href="#" class="order-card__title"
                  >Tormesis №2 «АНТИ-ДГТ БЬЮТИ F ANTI-DHT BEAUTY F»</a
                >
                <div class="order-card__num">1 шт</div>
                <div class="order-card__price">2 720 ₽</div>
              </div>
              <div class="order-card">
                <a href="#" class="order-card__gallery">
                  <img
                    src="@img/product-2.jpg"
                    alt="image"
                    class="order-card__img"
                  />
                </a>
                <a href="#" class="order-card__title"
                  >Тоник для кожи головы постпроцедурный ECOTRIATRIA
                  PROFESSIONAL 90 мл</a
                >
                <div class="order-card__num">1 шт</div>
                <div class="order-card__price">2 720 ₽</div>
              </div>
              <div class="s-profile__spoller-footer">
                <div class="s-profile__calc">
                  <div class="s-profile__calc-item">
                    <span>Сумма</span>
                    <span>5 440 ₽</span>
                  </div>
                  <div class="s-profile__calc-item">
                    <span>Доставка</span>
                    <span>500 ₽</span>
                  </div>
                </div>
                <div class="s-profile__sum">
                  <span>К оплате</span>
                  <span>5 940 ₽</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
