<section class="s-archive sect-p">
  <div class="container s-archive__container">
    <div class="s-archive__body">
      <aside class="s-archive__aside">
        <ul data-spollers class="list s-archive__nav _col">
          <li>
            <a href="#" class="s-archive__nav-btn">
              Профессиональная продукция Ecotriatria professional
            </a>
          </li>
          <li>
            <a href="#" class="s-archive__nav-btn">
              Трихологические процедуры Ecotriatria professional
            </a>
          </li>
          <li>
            <div data-spoller class="s-archive__nav-btn _spoller-active">
              <span
                >Косметика Ecotriatria домашнего применения, фитосборы, коллаген
                Tormesis</span
              >
              <svg class="s-archive__nav-arrow">
                <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
              </svg>
            </div>
            <div>
              <ul class="list s-archive__nav-sublist">
                <li><a href="#">Интернет-магазин</a></li>
                <li><a href="#" class="_active">Маркетплейсы</a></li>
                <li><a href="#">Точки продаж в вашем городе</a></li>
              </ul>
            </div>
          </li>
        </ul>
        <div data-da=".s-archive__container, 1365" class="s-archive__stocks">
          <div class="s-archive__stocks-head">
            <h4 class="s-archive__stocks-title">Акции</h4>
            <div class="s-archive__stocks-nav">
              <button class="slider-btn _prev">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
                </svg>
              </button>
              <button class="slider-btn _next">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="swiper s-archive__stock-slider">
            <div class="swiper-wrapper">
              <a href="#" class="swiper-slide s-archive__stock-slide">
                <img
                  src="@img/stock-img.jpg"
                  alt="image"
                  class="s-archive__stock-img"
                />
              </a>
              <a href="#" class="swiper-slide s-archive__stock-slide">
                <img
                  src="@img/stock-img.jpg"
                  alt="image"
                  class="s-archive__stock-img"
                />
              </a>
              <a href="#" class="swiper-slide s-archive__stock-slide">
                <img
                  src="@img/stock-img.jpg"
                  alt="image"
                  class="s-archive__stock-img"
                />
              </a>
            </div>
          </div>
        </div>
        <div
          data-da=".s-archive__container, 1365"
          class="s-archive__aside-footer"
        >
          <div class="s-archive__footer-item">
            <a href="#" target="_blank" class="s-archive__footer-btn">
              <span>Где нас найти</span>
              <img src="@img/location.svg" alt="icon" />
            </a>
          </div>
          <div class="s-archive__footer-item">
            <a
              href="#"
              target="_blank"
              class="s-archive__footer-btn"
              id="btn-bookmark"
            >
              <span>Добавить сайт в закладки</span>
              <img src="@img/bookmark.svg" alt="icon" />
            </a>
          </div>
        </div>
      </aside>
      <div class="s-archive__main">
        <div class="s-markets">
          <div class="warn">
            <img src="@img/warn.svg" alt="icon" class="warn__icon" />
            <span
              >Официальный представитель брендов ECOTRIATRIA и TORMESIS на
              маркетплейсах – магазин ETASFERA</span
            >
            <button class="btn-reset warn__delete">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-close"></use>
              </svg>
            </button>
          </div>
          <div class="s-markets__wrapper">
            <a
              href="#"
              target="_blank"
              class="s-markets__item"
              style="
                background: url(&quot;@img/ozon.jpg&quot;) center / cover
                  no-repeat;
              "
            >
              <div class="tag">
                <div class="tag__circle">
                  <svg>
                    <use
                      xlink:href="img/icons/icons.svg#icon-arrow-rotate"
                    ></use>
                  </svg>
                </div>
                <span>Ozon</span>
              </div>
            </a>
            <a
              href="#"
              target="_blank"
              class="s-markets__item"
              style="
                background: url(&quot;@img/wb.jpg&quot;) center / cover
                  no-repeat;
              "
            >
              <div class="tag">
                <div class="tag__circle">
                  <svg>
                    <use
                      xlink:href="img/icons/icons.svg#icon-arrow-rotate"
                    ></use>
                  </svg>
                </div>
                <span>Wildberries</span>
              </div>
            </a>
          </div>
          <div class="s-markets__content">
            <p>
              Не следует, однако забывать, что консультация с широким активом
              обеспечивает широкому кругу (специалистов) участие в формировании
              модели развития. Значимость этих проблем настолько очевидна, что
              укрепление и развитие структуры в значительной степени
              обуславливает создание дальнейших направлений развития.
            </p>
            <p>
              Значимость этих проблем настолько очевидна, что консультация с
              широким активом обеспечивает широкому кругу (специалистов) участие
              в формировании позиций, занимаемых участниками в отношении
              поставленных задач. Равным образом новая модель организационной
              деятельности играет важную роль в формировании систем массового
              участия. Равным образом рамки и место обучения кадров влечет за
              собой процесс внедрения и модернизации позиций, занимаемых
              участниками в отношении поставленных задач. Идейные соображения
              высшего порядка, а также начало повседневной работы по
              формированию позиции играет важную роль в формировании
              существенных финансовых и административных условий.
            </p>
            <p>
              Равным образом укрепление и развитие структуры влечет за собой
              процесс внедрения и модернизации новых предложений. Задача
              организации, в особенности же укрепление и развитие структуры
              требуют определения и уточнения соответствующий условий
              активизации. Таким образом начало повседневной работы по
              формированию позиции способствует подготовки и реализации позиций,
              занимаемых участниками в отношении поставленных задач. 
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
