<section class="sect-p s-method">
  <div class="container">
    <h2 class="sect-title">Рекомендации и способ применения</h2>
    <ul class="list s-method__list">
      <li>
        <a href="#"
          >Маска отшелушивающая-пилинг для жирной кожи головы Ecotriatria ETA</a
        >
        - Разделите волосы на проборы, *нанесите необходимое количество средства
        на сухую кожу головы, распределите мягкими массажными движениями.
        Оставьте на 5-15 мин. Смойте маску большим количеством теплой воды с
        шампунем. При необходимости используйте кондиционер, маску,
        крем-сыворотку для стержней волос.
      </li>
      <li>
        <a href="#"
          >Маска отшелушивающая-пилинг для жирной кожи головы Ecotriatria ETA</a
        >
        - Разделите волосы на проборы, *нанесите необходимое количество средства
        на сухую кожу головы, распределите мягкими массажными движениями.
        Оставьте на 5-15 мин. Смойте маску большим количеством теплой воды с
        шампунем. При необходимости используйте кондиционер, маску,
        крем-сыворотку для стержней волос.
      </li>
      <li>
        <a href="#"
          >Маска отшелушивающая-пилинг для жирной кожи головы Ecotriatria ETA</a
        >
        - Разделите волосы на проборы, *нанесите необходимое количество средства
        на сухую кожу головы, распределите мягкими массажными движениями.
        Оставьте на 5-15 мин. Смойте маску большим количеством теплой воды с
        шампунем. При необходимости используйте кондиционер, маску,
        крем-сыворотку для стержней волос.
      </li>
      <li>
        <a href="#"
          >Маска отшелушивающая-пилинг для жирной кожи головы Ecotriatria ETA</a
        >
        - Разделите волосы на проборы, *нанесите необходимое количество средства
        на сухую кожу головы, распределите мягкими массажными движениями.
        Оставьте на 5-15 мин. Смойте маску большим количеством теплой воды с
        шампунем. При необходимости используйте кондиционер, маску,
        крем-сыворотку для стержней волос.
      </li>
      <li>
        <a href="#"
          >Маска отшелушивающая-пилинг для жирной кожи головы Ecotriatria ETA</a
        >
        - Разделите волосы на проборы, *нанесите необходимое количество средства
        на сухую кожу головы, распределите мягкими массажными движениями.
        Оставьте на 5-15 мин. Смойте маску большим количеством теплой воды с
        шампунем. При необходимости используйте кондиционер, маску,
        крем-сыворотку для стержней волос.
      </li>
    </ul>
    <div class="s-method__bottom-content">
      <p>
        После завершения 2-месячного курса приема фитосбора АНТИ-ДГТ,
        рекомендован прием фитосбора ИММУНОПЕЦИЯ в течение 2 месяцев.
      </p>
      <p>
        Длительность приема каждого фитосбора – 2 мес. Рекомендуется проводить
        от 1 до 3 курсов в год.
      </p>
    </div>
    <a href="@img/about.jpg" download class="btn-stroke s-method__download-btn">
      <svg>
        <use xlink:href='img/icons/icons.svg#icon-pdf'></use>
      </svg>
      <span>Скачать рекомендации в PDF</span>
    </a>
  </div>
</section>
