<section class="s-partners sect-p">
  <div class="container s-partners__container">
    <div class="s-partners__info">
      <h2 class="sect-title">Наши партнеры</h2>
      <p class="s-partners__content">
        Значимость этих проблем настолько очевидна, что рамки и место обучения
        кадров в значительной степени обуславливает создание систем массового
        участия.
      </p>
    </div>
    <div class="s-partners__gallery">
      <button class="slider-btn _prev">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
        </svg>
      </button>
      <div class="swiper s-partners__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img
              src="@img/partner.png"
              alt="image"
              class="s-partners__slide-img"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="@img/partner.png"
              alt="image"
              class="s-partners__slide-img"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="@img/partner.png"
              alt="image"
              class="s-partners__slide-img"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="@img/partner.png"
              alt="image"
              class="s-partners__slide-img"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="@img/partner.png"
              alt="image"
              class="s-partners__slide-img"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="@img/partner.png"
              alt="image"
              class="s-partners__slide-img"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="@img/partner.png"
              alt="image"
              class="s-partners__slide-img"
            />
          </div>
        </div>
      </div>
      <button class="slider-btn _next">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
