<section class="sect-p s-profile">
  <div class="container">
    <div class="breadcrumbs">
      <div class="aioseo-breadcrumbs">
        <span class="aioseo-breadcrumb">
          <a href="/" title="Главная">Главная</a>
        </span>
        <span class="aioseo-breadcrumb"> Личный кабинет </span>
      </div>
    </div>
    <h1 class="main-title">Личный кабинет</h1>
    <div class="s-profile__wrapper">
      <aside class="s-profile__aside">
        <a href="#" class="s-profile__aside-btn _active">
          <svg>
            <use xlink:href='img/icons/icons.svg#icon-profile'></use>
          </svg>
          <span>Персональная информация</span>
        </a>
        <a href="#" class="s-profile__aside-btn">
          <svg>
            <use xlink:href='img/icons/icons.svg#icon-file'></use>
          </svg>
          <span>История заказов</span>
        </a>
        <a href="#" class="s-profile__aside-btn">
          <svg>
            <use xlink:href='img/icons/icons.svg#icon-prev'></use>
          </svg>
          <span>Выйти</span>
        </a>
      </aside>
      <div class="s-profile__main">
        <h3 class="t-title s-profile__title">Персональная информация</h3>
        <form action="#" class="s-profile__form">
          <div class="s-profile__form-item">
            <label for="profile-email" class="s-profile__form-label">Email</label>
            <input type="email" id="profile-email" value="email@mail.ru" class="input _white">
          </div>
          <div class="s-profile__form-item">
            <label for="profile-tel" class="s-profile__form-label">Телефон</label>
            <input type="tel" id="profile-tel" value="+7 (111) 111-11-11" class="input _white">
          </div>
          <div class="s-profile__form-item">
            <label for="profile-name" class="s-profile__form-label">Имя</label>
            <input type="text" id="profile-name" class="input _white">
          </div>
          <div class="s-profile__form-item">
            <label for="profile-family" class="s-profile__form-label">Фамилия</label>
            <input type="text" id="profile-family" class="input _white">
          </div>
          <div class="s-profile__form-nav">
            <button class="button">Сохранить данные</button>
            <a href="#modal-change-password" data-fancybox class="button _outline">изменить пароль</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>