<section class="s-products sect-p">
  <div class="container tab-container">
    <h2 class="sect-title">Наша продукция</h2>
    <ul class="list s-products__nav">
      <li data-tab-btn="products-1" class="s-products__nav-btn _active">
        Натуральная косметика Ecotriatria ETA
      </li>
      <li data-tab-btn="products-2" class="s-products__nav-btn">
        Профессиональная косметика Ecotriatria Professional Balance
      </li>
      <li data-tab-btn="products-3" class="s-products__nav-btn">Наборы</li>
      <li data-tab-btn="products-4" class="s-products__nav-btn">Фитосборы</li>
    </ul>
    <div class="s-products__wrapper">
      <div data-tab="products-1" class="swiper s-products__slider _open">
        <div class="swiper-wrapper">
          <div class="swiper-slide product-card">
            <a href="#" class="product-card__gallery">
              <img
                src="@img/product.jpg"
                alt="image"
                class="product-card__img"
              />
            </a>
            <a href="#" class="product-card__title"
              >Сыворотка для укрепления волос Ecotriatria
              professional Balance</a
            >
            <div class="product-card__price">
              <div></div>
              <span>2 720 ₽</span>
              <div></div>
            </div>
            <form action="#" class="product-card__form">
              <div class="product-card__form-number">
                <div class="product-card__btn-num _minus">-</div>
                <input
                  type="number"
                  value="1"
                  class="product-card__form-input"
                />
                <div class="product-card__btn-num _plus">+</div>
              </div>
              <button class="btn-stroke product-card__form-btn">
                В корзину
              </button>
            </form>
            <a href="#" class="product-card__pay">
              <img src="@img/dolyame.svg" alt="icon" />
              Долями по 680 ₽
            </a>
          </div>
          <div class="swiper-slide product-card">
            <a href="#" class="product-card__gallery">
              <img
                src="@img/product-2.jpg"
                alt="image"
                class="product-card__img"
              />
            </a>
            <a href="#" class="product-card__title"
              >Tormesis №2 «АНТИ-ДГТ БЬЮТИ F ANTI-DHT BEAUTY F»</a
            >
            <div class="product-card__price">
              <div></div>
              <span>2 720 ₽</span>
              <div></div>
            </div>
            <form action="#" class="product-card__form">
              <div class="product-card__form-number">
                <div class="product-card__btn-num _minus">-</div>
                <input
                  type="number"
                  value="1"
                  class="product-card__form-input"
                />
                <div class="product-card__btn-num _plus">+</div>
              </div>
              <button class="btn-stroke product-card__form-btn">
                В корзину
              </button>
            </form>
            <a href="#" class="product-card__pay">
              <img src="@img/dolyame.svg" alt="icon" />
              Долями по 680 ₽
            </a>
          </div>
          <div class="swiper-slide product-card">
            <a href="#" class="product-card__gallery">
              <img
                src="@img/product.jpg"
                alt="image"
                class="product-card__img"
              />
            </a>
            <a href="#" class="product-card__title"
              >Тоник для кожи головы постпроцедурный ECOTRIATRIA PROFESSIONAL 90
              мл</a
            >
            <div class="product-card__price">
              <div></div>
              <span>2 720 ₽</span>
              <div></div>
            </div>
            <form action="#" class="product-card__form">
              <div class="product-card__form-number">
                <div class="product-card__btn-num _minus">-</div>
                <input
                  type="number"
                  value="1"
                  class="product-card__form-input"
                />
                <div class="product-card__btn-num _plus">+</div>
              </div>
              <button class="btn-stroke product-card__form-btn">
                В корзину
              </button>
            </form>
            <a href="#" class="product-card__pay">
              <img src="@img/dolyame.svg" alt="icon" />
              Долями по 680 ₽
            </a>
          </div>
        </div>
      </div>
      <div data-tab="products-2" class="swiper s-products__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide product-card">
            <a href="#" class="product-card__gallery">
              <img
                src="@img/product-2.jpg"
                alt="image"
                class="product-card__img"
              />
            </a>
            <a href="#" class="product-card__title"
              >Tormesis №2 «АНТИ-ДГТ БЬЮТИ F ANTI-DHT BEAUTY F»</a
            >
            <div class="product-card__price">
              <div></div>
              <span>2 720 ₽</span>
              <div></div>
            </div>
            <form action="#" class="product-card__form">
              <div class="product-card__form-number">
                <div class="product-card__btn-num _minus">-</div>
                <input
                  type="number"
                  value="1"
                  class="product-card__form-input"
                />
                <div class="product-card__btn-num _plus">+</div>
              </div>
              <button class="btn-stroke product-card__form-btn">
                В корзину
              </button>
            </form>
            <a href="#" class="product-card__pay">
              <img src="@img/dolyame.svg" alt="icon" />
              Долями по 680 ₽
            </a>
          </div>
          <div class="swiper-slide product-card">
            <a href="#" class="product-card__gallery">
              <img
                src="@img/product.jpg"
                alt="image"
                class="product-card__img"
              />
            </a>
            <a href="#" class="product-card__title"
              >Сыворотка для укрепления волос Ecotriatria
              professional Balance</a
            >
            <div class="product-card__price">
              <div></div>
              <span>2 720 ₽</span>
              <div></div>
            </div>
            <form action="#" class="product-card__form">
              <div class="product-card__form-number">
                <div class="product-card__btn-num _minus">-</div>
                <input
                  type="number"
                  value="1"
                  class="product-card__form-input"
                />
                <div class="product-card__btn-num _plus">+</div>
              </div>
              <button class="btn-stroke product-card__form-btn">
                В корзину
              </button>
            </form>
            <a href="#" class="product-card__pay">
              <img src="@img/dolyame.svg" alt="icon" />
              Долями по 680 ₽
            </a>
          </div>
          <div class="swiper-slide product-card">
            <a href="#" class="product-card__gallery">
              <img
                src="@img/product.jpg"
                alt="image"
                class="product-card__img"
              />
            </a>
            <a href="#" class="product-card__title"
              >Тоник для кожи головы постпроцедурный ECOTRIATRIA PROFESSIONAL 90
              мл</a
            >
            <div class="product-card__price">
              <div></div>
              <span>2 720 ₽</span>
              <div></div>
            </div>
            <form action="#" class="product-card__form">
              <div class="product-card__form-number">
                <div class="product-card__btn-num _minus">-</div>
                <input
                  type="number"
                  value="1"
                  class="product-card__form-input"
                />
                <div class="product-card__btn-num _plus">+</div>
              </div>
              <button class="btn-stroke product-card__form-btn">
                В корзину
              </button>
            </form>
            <a href="#" class="product-card__pay">
              <img src="@img/dolyame.svg" alt="icon" />
              Долями по 680 ₽
            </a>
          </div>
        </div>
      </div>
      <div data-tab="products-3" class="swiper s-products__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide product-card">
            <a href="#" class="product-card__gallery">
              <img
                src="@img/product.jpg"
                alt="image"
                class="product-card__img"
              />
            </a>
            <a href="#" class="product-card__title"
              >Сыворотка для укрепления волос Ecotriatria
              professional Balance</a
            >
            <div class="product-card__price">
              <div></div>
              <span>2 720 ₽</span>
              <div></div>
            </div>
            <form action="#" class="product-card__form">
              <div class="product-card__form-number">
                <div class="product-card__btn-num _minus">-</div>
                <input
                  type="number"
                  value="1"
                  class="product-card__form-input"
                />
                <div class="product-card__btn-num _plus">+</div>
              </div>
              <button class="btn-stroke product-card__form-btn">
                В корзину
              </button>
            </form>
            <a href="#" class="product-card__pay">
              <img src="@img/dolyame.svg" alt="icon" />
              Долями по 680 ₽
            </a>
          </div>
          <div class="swiper-slide product-card">
            <a href="#" class="product-card__gallery">
              <img
                src="@img/product-2.jpg"
                alt="image"
                class="product-card__img"
              />
            </a>
            <a href="#" class="product-card__title"
              >Tormesis №2 «АНТИ-ДГТ БЬЮТИ F ANTI-DHT BEAUTY F»</a
            >
            <div class="product-card__price">
              <div></div>
              <span>2 720 ₽</span>
              <div></div>
            </div>
            <form action="#" class="product-card__form">
              <div class="product-card__form-number">
                <div class="product-card__btn-num _minus">-</div>
                <input
                  type="number"
                  value="1"
                  class="product-card__form-input"
                />
                <div class="product-card__btn-num _plus">+</div>
              </div>
              <button class="btn-stroke product-card__form-btn">
                В корзину
              </button>
            </form>
            <a href="#" class="product-card__pay">
              <img src="@img/dolyame.svg" alt="icon" />
              Долями по 680 ₽
            </a>
          </div>
          <div class="swiper-slide product-card">
            <a href="#" class="product-card__gallery">
              <img
                src="@img/product.jpg"
                alt="image"
                class="product-card__img"
              />
            </a>
            <a href="#" class="product-card__title"
              >Тоник для кожи головы постпроцедурный ECOTRIATRIA PROFESSIONAL 90
              мл</a
            >
            <div class="product-card__price">
              <div></div>
              <span>2 720 ₽</span>
              <div></div>
            </div>
            <form action="#" class="product-card__form">
              <div class="product-card__form-number">
                <div class="product-card__btn-num _minus">-</div>
                <input
                  type="number"
                  value="1"
                  class="product-card__form-input"
                />
                <div class="product-card__btn-num _plus">+</div>
              </div>
              <button class="btn-stroke product-card__form-btn">
                В корзину
              </button>
            </form>
            <a href="#" class="product-card__pay">
              <img src="@img/dolyame.svg" alt="icon" />
              Долями по 680 ₽
            </a>
          </div>
        </div>
      </div>
      <div data-tab="products-4" class="swiper s-products__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide product-card">
            <a href="#" class="product-card__gallery">
              <img
                src="@img/product-2.jpg"
                alt="image"
                class="product-card__img"
              />
            </a>
            <a href="#" class="product-card__title"
              >Tormesis №2 «АНТИ-ДГТ БЬЮТИ F ANTI-DHT BEAUTY F»</a
            >
            <div class="product-card__price">
              <div></div>
              <span>2 720 ₽</span>
              <div></div>
            </div>
            <form action="#" class="product-card__form">
              <div class="product-card__form-number">
                <div class="product-card__btn-num _minus">-</div>
                <input
                  type="number"
                  value="1"
                  class="product-card__form-input"
                />
                <div class="product-card__btn-num _plus">+</div>
              </div>
              <button class="btn-stroke product-card__form-btn">
                В корзину
              </button>
            </form>
            <a href="#" class="product-card__pay">
              <img src="@img/dolyame.svg" alt="icon" />
              Долями по 680 ₽
            </a>
          </div>
          <div class="swiper-slide product-card">
            <a href="#" class="product-card__gallery">
              <img
                src="@img/product.jpg"
                alt="image"
                class="product-card__img"
              />
            </a>
            <a href="#" class="product-card__title"
              >Сыворотка для укрепления волос Ecotriatria
              professional Balance</a
            >
            <div class="product-card__price">
              <div></div>
              <span>2 720 ₽</span>
              <div></div>
            </div>
            <form action="#" class="product-card__form">
              <div class="product-card__form-number">
                <div class="product-card__btn-num _minus">-</div>
                <input
                  type="number"
                  value="1"
                  class="product-card__form-input"
                />
                <div class="product-card__btn-num _plus">+</div>
              </div>
              <button class="btn-stroke product-card__form-btn">
                В корзину
              </button>
            </form>
            <a href="#" class="product-card__pay">
              <img src="@img/dolyame.svg" alt="icon" />
              Долями по 680 ₽
            </a>
          </div>
          <div class="swiper-slide product-card">
            <a href="#" class="product-card__gallery">
              <img
                src="@img/product.jpg"
                alt="image"
                class="product-card__img"
              />
            </a>
            <a href="#" class="product-card__title"
              >Тоник для кожи головы постпроцедурный ECOTRIATRIA PROFESSIONAL 90
              мл</a
            >
            <div class="product-card__price">
              <div></div>
              <span>2 720 ₽</span>
              <div></div>
            </div>
            <form action="#" class="product-card__form">
              <div class="product-card__form-number">
                <div class="product-card__btn-num _minus">-</div>
                <input
                  type="number"
                  value="1"
                  class="product-card__form-input"
                />
                <div class="product-card__btn-num _plus">+</div>
              </div>
              <button class="btn-stroke product-card__form-btn">
                В корзину
              </button>
            </form>
            <a href="#" class="product-card__pay">
              <img src="@img/dolyame.svg" alt="icon" />
              Долями по 680 ₽
            </a>
          </div>
        </div>
      </div>
      <div class="s-products__reklam">
        <div class="swiper s-products__reklam-slider">
          <div class="swiper-wrapper">
            <a href="#" class="swiper-slide s-products__reklam-slide">
              <img
                src="@img/reklam.jpg"
                alt="image"
                class="s-products__reklam-img"
              />
            </a>
            <a href="#" class="swiper-slide s-products__reklam-slide">
              <img
                src="@img/reklam.jpg"
                alt="image"
                class="s-products__reklam-img"
              />
            </a>
            <a href="#" class="swiper-slide s-products__reklam-slide">
              <img
                src="@img/reklam.jpg"
                alt="image"
                class="s-products__reklam-img"
              />
            </a>
          </div>
        </div>
        <div class="s-products__reklam-nav">
          <button class="slider-btn _prev">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
            </svg>
          </button>
          <button class="slider-btn _next">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <a href="#" class="button s-products__btn">Перейти в каталог</a>
  </div>
</section>
