<section class="sect-m s-rec-products">
  <div class="container">
    <div class="s-head">
      <h2 class="sect-title">Наша профессиональная продукция</h2>
      <div class="sect-head__slider-nav">
        <button class="slider-btn _prev">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
        </button>
        <button class="slider-btn _next">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="swiper s-rec-products__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide product-card">
          <a href="#" class="product-card__gallery">
            <img
              src="@img/product-2.jpg"
              alt="image"
              class="product-card__img"
            />
          </a>
          <a href="#" class="product-card__title"
            >Tormesis №2 «АНТИ-ДГТ БЬЮТИ F ANTI-DHT BEAUTY F»</a
          >
          <div class="product-card__price">
            <div></div>
            <span>Цена по запросу</span>
            <div></div>
          </div>
        </div>
        <div class="swiper-slide product-card">
          <a href="#" class="product-card__gallery">
            <img src="@img/product.jpg" alt="image" class="product-card__img" />
          </a>
          <a href="#" class="product-card__title"
            >Сыворотка для укрепления волос Ecotriatria professional Balance</a
          >
          <div class="product-card__price">
            <div></div>
            <span>Цена по запросу</span>
            <div></div>
          </div>
        </div>
        <div class="swiper-slide product-card">
          <a href="#" class="product-card__gallery">
            <img
              src="@img/product-2.jpg"
              alt="image"
              class="product-card__img"
            />
          </a>
          <a href="#" class="product-card__title"
            >Tormesis №2 «АНТИ-ДГТ БЬЮТИ F ANTI-DHT BEAUTY F»</a
          >
          <div class="product-card__price">
            <div></div>
            <span>Цена по запросу</span>
            <div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
