<section class="s-rec sect-p">
  <div class="container s-rec__container">
    <div class="swiper s-rec__slider">
      <div class="swiper-wrapper">
        <a href="#" class="swiper-slide s-rec__slide">
          <div class="s-rec__slide-gallery">
            <img src="@img/rec-1.png" alt="image" class="s-rec__slide-img" />
          </div>
          <div class="s-rec__slide-body">
            <h5 class="s-rec__slide-title">
              Натуральная косметика Ecotriatria ETA
            </h5>
          </div>
        </a>
        <a href="#" class="swiper-slide s-rec__slide">
          <div class="s-rec__slide-gallery">
            <img src="@img/rec-2.png" alt="image" class="s-rec__slide-img" />
          </div>
          <div class="s-rec__slide-body">
            <h5 class="s-rec__slide-title">
              Профессиональная косметика для домашнего применения Ecotriatria
              Professional Balance
            </h5>
          </div>
        </a>
        <a href="#" class="swiper-slide s-rec__slide">
          <div class="s-rec__slide-gallery">
            <img src="@img/rec-1.png" alt="image" class="s-rec__slide-img" />
          </div>
          <div class="s-rec__slide-body">
            <h5 class="s-rec__slide-title">
              Натуральная косметика Ecotriatria ETA
            </h5>
          </div>
        </a>
        <a href="#" class="swiper-slide s-rec__slide">
          <div class="s-rec__slide-gallery">
            <img src="@img/rec-2.png" alt="image" class="s-rec__slide-img" />
          </div>
          <div class="s-rec__slide-body">
            <h5 class="s-rec__slide-title">
              Профессиональная косметика для домашнего применения Ecotriatria
              Professional Balance
            </h5>
          </div>
        </a>
        <a href="#" class="swiper-slide s-rec__slide">
          <div class="s-rec__slide-gallery">
            <img src="@img/rec-1.png" alt="image" class="s-rec__slide-img" />
          </div>
          <div class="s-rec__slide-body">
            <h5 class="s-rec__slide-title">
              Натуральная косметика Ecotriatria ETA
            </h5>
          </div>
        </a>
        <a href="#" class="swiper-slide s-rec__slide">
          <div class="s-rec__slide-gallery">
            <img src="@img/rec-2.png" alt="image" class="s-rec__slide-img" />
          </div>
          <div class="s-rec__slide-body">
            <h5 class="s-rec__slide-title">
              Профессиональная косметика для домашнего применения Ecotriatria
              Professional Balance
            </h5>
          </div>
        </a>
        <a href="#" class="swiper-slide s-rec__slide">
          <div class="s-rec__slide-gallery">
            <img src="@img/rec-1.png" alt="image" class="s-rec__slide-img" />
          </div>
          <div class="s-rec__slide-body">
            <h5 class="s-rec__slide-title">
              Натуральная косметика Ecotriatria ETA
            </h5>
          </div>
        </a>
        <a href="#" class="swiper-slide s-rec__slide">
          <div class="s-rec__slide-gallery">
            <img src="@img/rec-2.png" alt="image" class="s-rec__slide-img" />
          </div>
          <div class="s-rec__slide-body">
            <h5 class="s-rec__slide-title">
              Профессиональная косметика для домашнего применения Ecotriatria
              Professional Balance
            </h5>
          </div>
        </a>
      </div>
    </div>
    <div class="slider-btn _next _big s-rec__slider-btn">
      <svg>
        <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
      </svg>
    </div>
  </div>
</section>
