<section class="sect-m s-rec-products">
  <div class="container">
    <div class="s-head">
      <h2 class="sect-title">Рекомендуемые продукты</h2>
      <div class="sect-head__slider-nav">
        <button class="slider-btn _prev">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
        </button>
        <button class="slider-btn _next">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="swiper s-rec-products__slider">
      <div class="swiper-slide">
        
      </div>
    </div>
  </div>
</section>
