<section class="sect-p s-set">
  <div class="container s-set__container">
    <div data-fancybox data-src="#modal-products" class="s-set__add" style="background: url('@img/products-all.png') center / cover no-repeat;">
      <div class="s-set__add-plus"></div>
      <div class="s-set__add-title">Добавить продукцию</div>
      <p class="s-set__add-content">Нажмите, чтобы добавить шампунь, пилинг или другой продукт</p>
    </div>
    <div class="product-card">
      <a href="#" class="product-card__gallery">
        <img
          src="@img/product.jpg"
          alt="image"
          class="product-card__img"
        />
      </a>
      <a href="#" class="product-card__title"
        >Сыворотка для укрепления волос Ecotriatria
        professional Balance</a
      >
      <div class="product-card__price">
        <div></div>
        <span>2 720 ₽</span>
        <div></div>
      </div>
      <div class="product-card__added-nav">
        <button class="button">Поменять</button>
        <button class="button _red">Удалить</button>
      </div>
    </div>
    <div class="product-card">
      <a href="#" class="product-card__gallery">
        <img
          src="@img/product.jpg"
          alt="image"
          class="product-card__img"
        />
      </a>
      <a href="#" class="product-card__title"
        >Сыворотка для укрепления волос Ecotriatria
        professional Balance</a
      >
      <div class="product-card__price">
        <div></div>
        <span>2 720 ₽</span>
        <div></div>
      </div>
      <div class="product-card__added-nav">
        <button class="button">Поменять</button>
        <button class="button _red">Удалить</button>
      </div>
    </div>
    <div class="product-card">
      <a href="#" class="product-card__gallery">
        <img
          src="@img/product.jpg"
          alt="image"
          class="product-card__img"
        />
      </a>
      <a href="#" class="product-card__title"
        >Сыворотка для укрепления волос Ecotriatria
        professional Balance</a
      >
      <div class="product-card__price">
        <div></div>
        <span>2 720 ₽</span>
        <div></div>
      </div>
      <div class="product-card__added-nav">
        <button class="button">Поменять</button>
        <button class="button _red">Удалить</button>
      </div>
    </div>
    <div class="product-card">
      <a href="#" class="product-card__gallery">
        <img
          src="@img/product.jpg"
          alt="image"
          class="product-card__img"
        />
      </a>
      <a href="#" class="product-card__title"
        >Сыворотка для укрепления волос Ecotriatria
        professional Balance</a
      >
      <div class="product-card__price">
        <div></div>
        <span>2 720 ₽</span>
        <div></div>
      </div>
      <div class="product-card__added-nav">
        <button class="button">Поменять</button>
        <button class="button _red">Удалить</button>
      </div>
    </div>
    <div class="product-card">
      <a href="#" class="product-card__gallery">
        <img
          src="@img/product.jpg"
          alt="image"
          class="product-card__img"
        />
      </a>
      <a href="#" class="product-card__title"
        >Сыворотка для укрепления волос Ecotriatria
        professional Balance</a
      >
      <div class="product-card__price">
        <div></div>
        <span>2 720 ₽</span>
        <div></div>
      </div>
      <div class="product-card__added-nav">
        <button class="button">Поменять</button>
        <button class="button _red">Удалить</button>
      </div>
    </div>
  </div>
</section>