<section class="s-stocks sect-p">
  <div class="container">
    <div class="s-stocks__wrapper">
      <div class="s-stocks__item">
        <a href="#" class="s-stocks__gallery">
          <img
            src="@img/stock-img.jpg"
            alt="image"
            class="s-stocks__gallery-img"
          />
        </a>
        <div class="s-stocks__item-body">
          <a href="#" class="s-stocks__item-title"
            >С наступившим Новым годом и Рождеством!</a
          >
          <p class="s-stocks__item-content">
            Новогодние скидки на всю продукцию Ecotriatria для домашнего
            применения и Tormesis
          </p>
          <div class="s-stocks__item-footer">
            <div class="s-stocks__item-date">
              <div class="s-stocks__item-date-title">Срок проведения:</div>
              <div class="s-stocks__item-date">13.01.25 – 15.01.25</div>
            </div>
            <a href="#" class="btn-stroke s-stocks__item-btn">Узнать больше</a>
          </div>
        </div>
      </div>
      <div class="s-stocks__item">
        <a href="#" class="s-stocks__gallery">
          <img
            src="@img/stock-img.jpg"
            alt="image"
            class="s-stocks__gallery-img"
          />
        </a>
        <div class="s-stocks__item-body">
          <a href="#" class="s-stocks__item-title"
            >С наступившим Новым годом и Рождеством!</a
          >
          <p class="s-stocks__item-content">
            Новогодние скидки на всю продукцию Ecotriatria для домашнего
            применения и Tormesis — 20%; на сыворотку Ecotriatria Professional
            Balance — 25%
          </p>
          <div class="s-stocks__item-footer">
            <div class="s-stocks__item-date">
              <div class="s-stocks__item-date-title">Срок проведения:</div>
              <div class="s-stocks__item-date">13.01.25 – 15.01.25</div>
            </div>
            <a href="#" class="btn-stroke s-stocks__item-btn">Узнать больше</a>
          </div>
        </div>
      </div>
      <div class="s-stocks__item">
        <a href="#" class="s-stocks__gallery">
          <img
            src="@img/stock-img.jpg"
            alt="image"
            class="s-stocks__gallery-img"
          />
        </a>
        <div class="s-stocks__item-body">
          <a href="#" class="s-stocks__item-title"
            >С наступившим Новым годом и Рождеством!</a
          >
          <p class="s-stocks__item-content">
            Новогодние скидки на всю продукцию Ecotriatria для домашнего
            применения и Tormesis
          </p>
          <div class="s-stocks__item-footer">
            <div class="s-stocks__item-date">
              <div class="s-stocks__item-date-title">Срок проведения:</div>
              <div class="s-stocks__item-date">13.01.25 – 15.01.25</div>
            </div>
            <a href="#" class="btn-stroke s-stocks__item-btn">Узнать больше</a>
          </div>
        </div>
      </div>
      <div class="s-stocks__item">
        <a href="#" class="s-stocks__gallery">
          <img
            src="@img/stock-img.jpg"
            alt="image"
            class="s-stocks__gallery-img"
          />
        </a>
        <div class="s-stocks__item-body">
          <a href="#" class="s-stocks__item-title"
            >С наступившим Новым годом и Рождеством!</a
          >
          <p class="s-stocks__item-content">
            Новогодние скидки на всю продукцию Ecotriatria для домашнего
            применения и Tormesis
          </p>
          <div class="s-stocks__item-footer">
            <div class="s-stocks__item-date">
              <div class="s-stocks__item-date-title">Срок проведения:</div>
              <div class="s-stocks__item-date">13.01.25 – 15.01.25</div>
            </div>
            <a href="#" class="btn-stroke s-stocks__item-btn">Узнать больше</a>
          </div>
        </div>
      </div>
      <div class="s-stocks__item">
        <a href="#" class="s-stocks__gallery">
          <img
            src="@img/stock-img.jpg"
            alt="image"
            class="s-stocks__gallery-img"
          />
        </a>
        <div class="s-stocks__item-body">
          <a href="#" class="s-stocks__item-title"
            >С наступившим Новым годом и Рождеством!</a
          >
          <p class="s-stocks__item-content">
            Новогодние скидки на всю продукцию Ecotriatria для домашнего
            применения и Tormesis
          </p>
          <div class="s-stocks__item-footer">
            <div class="s-stocks__item-date">
              <div class="s-stocks__item-date-title">Срок проведения:</div>
              <div class="s-stocks__item-date">13.01.25 – 15.01.25</div>
            </div>
            <a href="#" class="btn-stroke s-stocks__item-btn">Узнать больше</a>
          </div>
        </div>
      </div>
      <div class="s-stocks__item">
        <a href="#" class="s-stocks__gallery">
          <img
            src="@img/stock-img.jpg"
            alt="image"
            class="s-stocks__gallery-img"
          />
        </a>
        <div class="s-stocks__item-body">
          <a href="#" class="s-stocks__item-title"
            >С наступившим Новым годом и Рождеством!</a
          >
          <p class="s-stocks__item-content">
            Новогодние скидки на всю продукцию Ecotriatria для домашнего
            применения и Tormesis
          </p>
          <div class="s-stocks__item-footer">
            <div class="s-stocks__item-date">
              <div class="s-stocks__item-date-title">Срок проведения:</div>
              <div class="s-stocks__item-date">13.01.25 – 15.01.25</div>
            </div>
            <a href="#" class="btn-stroke s-stocks__item-btn">Узнать больше</a>
          </div>
        </div>
      </div>
      <div class="s-stocks__item">
        <a href="#" class="s-stocks__gallery">
          <img
            src="@img/stock-img.jpg"
            alt="image"
            class="s-stocks__gallery-img"
          />
        </a>
        <div class="s-stocks__item-body">
          <a href="#" class="s-stocks__item-title"
            >С наступившим Новым годом и Рождеством!</a
          >
          <p class="s-stocks__item-content">
            Новогодние скидки на всю продукцию Ecotriatria для домашнего
            применения и Tormesis
          </p>
          <div class="s-stocks__item-footer">
            <div class="s-stocks__item-date">
              <div class="s-stocks__item-date-title">Срок проведения:</div>
              <div class="s-stocks__item-date">13.01.25 – 15.01.25</div>
            </div>
            <a href="#" class="btn-stroke s-stocks__item-btn">Узнать больше</a>
          </div>
        </div>
      </div>
      <div class="s-stocks__item">
        <a href="#" class="s-stocks__gallery">
          <img
            src="@img/stock-img.jpg"
            alt="image"
            class="s-stocks__gallery-img"
          />
        </a>
        <div class="s-stocks__item-body">
          <a href="#" class="s-stocks__item-title"
            >С наступившим Новым годом и Рождеством!</a
          >
          <p class="s-stocks__item-content">
            Новогодние скидки на всю продукцию Ecotriatria для домашнего
            применения и Tormesis
          </p>
          <div class="s-stocks__item-footer">
            <div class="s-stocks__item-date">
              <div class="s-stocks__item-date-title">Срок проведения:</div>
              <div class="s-stocks__item-date">13.01.25 – 15.01.25</div>
            </div>
            <a href="#" class="btn-stroke s-stocks__item-btn">Узнать больше</a>
          </div>
        </div>
      </div>
      <div class="s-stocks__item">
        <a href="#" class="s-stocks__gallery">
          <img
            src="@img/stock-img.jpg"
            alt="image"
            class="s-stocks__gallery-img"
          />
        </a>
        <div class="s-stocks__item-body">
          <a href="#" class="s-stocks__item-title"
            >С наступившим Новым годом и Рождеством!</a
          >
          <p class="s-stocks__item-content">
            Новогодние скидки на всю продукцию Ecotriatria для домашнего
            применения и Tormesis
          </p>
          <div class="s-stocks__item-footer">
            <div class="s-stocks__item-date">
              <div class="s-stocks__item-date-title">Срок проведения:</div>
              <div class="s-stocks__item-date">13.01.25 – 15.01.25</div>
            </div>
            <a href="#" class="btn-stroke s-stocks__item-btn">Узнать больше</a>
          </div>
        </div>
      </div>
      <div class="s-stocks__item">
        <a href="#" class="s-stocks__gallery">
          <img
            src="@img/stock-img.jpg"
            alt="image"
            class="s-stocks__gallery-img"
          />
        </a>
        <div class="s-stocks__item-body">
          <a href="#" class="s-stocks__item-title"
            >С наступившим Новым годом и Рождеством!</a
          >
          <p class="s-stocks__item-content">
            Новогодние скидки на всю продукцию Ecotriatria для домашнего
            применения и Tormesis
          </p>
          <div class="s-stocks__item-footer">
            <div class="s-stocks__item-date">
              <div class="s-stocks__item-date-title">Срок проведения:</div>
              <div class="s-stocks__item-date">13.01.25 – 15.01.25</div>
            </div>
            <a href="#" class="btn-stroke s-stocks__item-btn">Узнать больше</a>
          </div>
        </div>
      </div>
    </div>
    <button class="button s-stocks__btn-more _white">показать еще</button>
  </div>
</section>
