<section class="s-subscribe sect-p _min">
  <div class="container s-subscribe__container _min">
    <div class="s-subscribe__gallery">
      <div class="s-subscribe__gallery-wrapper">
        <img src="@img/flower.png" alt="image" class="s-subscribe__flower" />
        <img src="@img/logo-dark.svg" alt="logo" class="s-subscribe__logo" />
      </div>
    </div>
    <div class="s-subscribe__main">
      <h2 class="s-subscribe__title">
        Подпишитесь для получения информации об акциях и новинках
      </h2>
      <form action="#" class="s-subscribe__form">
        <div class="s-subscribe__form-item">
          <input type="email" placeholder="Введите свой e-mail" class="input" />
        </div>
        <div class="s-subscribe__form-item">
          <input
            type="text"
            placeholder="Введите купон (если есть)"
            class="input"
          />
        </div>
        <button class="button _white">Подписаться</button>
        <div class="s-subscribe__form-footer">
          <input
            checked
            type="checkbox"
            id="subscribe-policy"
            class="input-policy"
          />
          <label for="subscribe-policy" class="label-policy"
            >Согласен на <a href="#">обработку персональных данных</a></label
          >

          <input type="checkbox" id="subscribe-mailing" class="input-policy" />
          <label for="subscribe-mailing" class="label-policy"
            >Согласен на получение акций/рассылок</label
          >
        </div>
      </form>
    </div>
  </div>
</section>
