<section class="sect-m s-where-buy">
  <div class="container">
    <h2 class="sect-title">Где купить?</h2>
    <div class="swiper s-where-buy__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide s-where-buy__slide">
          <a href="#" target="_blank" class="s-where-buy__gallery">
            <img
              src="@img/market-ozon.jpg"
              alt="image"
              class="s-where-buy__gallery-img"
            />
          </a>
          <div class="s-where-buy__slide-body">
            <div class="s-where-buy__slide-title">Маркетплейс Ozon</div>
            <div class="s-where-buy__slide-price">2 376 ₽</div>
            <a href="#" target="_blank" class="btn-stroke">Перейти к товару</a>
          </div>
        </div>
        <div class="swiper-slide s-where-buy__slide">
          <a href="#" target="_blank" class="s-where-buy__gallery">
            <img
              src="@img/market-wb.jpg"
              alt="image"
              class="s-where-buy__gallery-img"
            />
          </a>
          <div class="s-where-buy__slide-body">
            <div class="s-where-buy__slide-title">Маркетплейс Wildberries</div>
            <div class="s-where-buy__slide-price">3 185 ₽</div>
            <a href="#" target="_blank" class="btn-stroke">Перейти к товару</a>
          </div>
        </div>
        <div class="swiper-slide s-where-buy__slide">
          <div target="_blank" class="s-where-buy__gallery">
            <img
              src="@img/market-site.jpg"
              alt="image"
              class="s-where-buy__gallery-img"
            />
          </div>
          <div class="s-where-buy__slide-body">
            <div class="s-where-buy__slide-title">Фирменный интернет-магазин</div>
            <div class="s-where-buy__slide-price">2 690 ₽</div>
            <button class="btn-stroke">В корзину</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
