.input {
  border-radius: 8px;
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.5);
  padding: 20px 30px;
  width: 100%;
  outline: none;

  font-size: 16px;
  color: black;
  font-weight: 300;

  @include tablet {
    padding: 20px;
  }

  &._black {
    background: transparent;
    border-color: black;
  }
  &._white {
    background-color: white;
    border-color: var(--light);
  }

  &::placeholder {
    color: black;
  }
}
textarea.input {
  resize: none;
}
.input-check {
  display: none;

  &:checked + label {
    &::before {
      background: url('@img/check.svg') center / 12px auto no-repeat;
      background-color: black;
    }
  }
}

.label-check {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  font-size: 16px;
  font-weight: 300;
  padding-left: 30px;
  &::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 3px;
    border: 1px solid var(--light);
    left: 0;
    top: 0;
  }

  a {
    font-weight: 400;
    text-decoration: underline;
    text-underline-offset: 2px;
    @include hover {
      text-decoration: none;
    }
  }
}