.input {
  border-radius: 8px;
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.5);
  padding: 20px 30px;
  width: 100%;
  outline: none;

  font-size: 16px;
  color: black;
  font-weight: 300;

  &._black {
    background: transparent;
    border-color: black;
  }
  &._white {
    background-color: white;
    border-color: var(--light);
  }

  &::placeholder {
    color: black;
  }
}
textarea.input {
  resize: none;
}