.sect-p {
  padding: 90px 0px;
  @include laptop-min {
    padding: 70px 0px;
  }
  @include tablet {
    padding: 40px 0px;
  }

  &._min {
    padding: 70px 0px;
    @include tablet {
      padding: 40px 0px;
    }
  }
}
.sect-m {
  margin: 90px 0px;
  @include laptop-min {
    margin: 70px 0px;
  }
  @include tablet {
    margin: 40px 0px;
  }

  &._min {
    margin: 70px 0px;
    @include tablet {
      margin: 40px 0px;
    }
  }
}

.sect-top-off {
  padding-top: 0 !important;
}
.sect-bottom-off {
  padding-bottom: 0 !important;
}

.s-head {
  @include flex-between;
  gap: 30px;
  margin-bottom: 50px;
  @include tablet {
    margin-bottom: 30px;
  }

  &__slider-nav {
    display: flex;
    gap: 30px;
    @include tablet {
      gap: 20px;
    }
  }

  .sect-title {
    margin: 0;
  }
}

.sect-head__slider-nav {
  display: flex;
  gap: 30px;
  @include tablet {
    gap: 20px;
  }
}