.tag {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 14px;
  border-radius: 100px;
  background-color: white;
  width: fit-content;

  font-size: 18px;
  font-weight: 300;
  transition: color .2s ease, background-color .2s ease;

  &__circle {
    @include flex-center;
    width: 34px;
    height: 34px;
    background-color: var(--yellow);
    border-radius: 50%;

    svg {
      width: 10px;
      height: 10px;
    }
  }
}
a.tag {
  &:hover {
    background-color: var(--yellow);
  }
}