.main-title {
  font-size: 60px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
  @include laptop-min {
    font-size: 48px;
  }
  @include tablet {
    font-size: 28px;
  }
}

.sect-title {
  font-size: 48px;
  font-weight: 700;
  margin: 0px 0px 50px 0px;
  @include laptop-min {
    font-size: 36px;
  }
  @include tablet {
    font-size: 26px;
  }
  @include tablet {
    margin-bottom: 30px;
  }
}
