.modal {
  max-width: calc(100% - 30px);
  width: 500px;
  display: none;
  &__title {
    font-size: 24px;
    text-align: center;
    margin: 0px 0px 20px 0px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }
  &__form-item {
    width: 100%;
  }
  &__form-btn {
    width: 100%;
  }
}